%section.slide.toc
  %h1 Lecture 1: Introduction
%section#pludoni.slide
  %h2 What is a Mobile Web App ?
  .box
    %img(src="imgs/twitter-web-app.jpg" height="300px")
  %p An application-like web site that is consumable by a modern mobile device
  %p.slide somehow
  %ul
    %li 2008 gegründet
    %li.slide Zielgruppe sind KMU
    %li.slide bietet Plattformen und Rahmenbedingungen für Bewerberempfehlungen
    %li z.B. ITsax.de, ITmitte.de und MINTsax.de
%section.slide
  %h2 Motivation
  %ul
    %li Verteiltes und asynchrones Arbeiten
    %li Legacy-Code verschiedener Programmierer
    %li zunehmene Komplexität, wenige Tests &rarr; Regressionsfehler
  %ul.slide
    %li Testgetriebene Entwicklung


