%section.slide.section-title
  %h1 Lecture 1: Introduction

%section.slide
  %header The Web is Dead!
  .row 
    .twoColumn
      .autoimage
        = image_tag_with_caption "the-web-is-dead.jpg",  :caption => "Wired August 2010", :url => "http://www.wired.com/magazine/2010/08/ff_webrip/all/1"
    .twoColumn
      .autoimage.centered.slide
        = image_tag_with_caption "mobile-applications.jpg"

%section.slide
  %header An App for Every Task
  %article
    .row
      .autoimage.slide
        = image_tag_with_caption "iphone-facebook-2-application.jpg"

%section.slide
  %header What is a Mobile Web App ?
  .autoimage.centered.slide
    = image_tag_with_caption "mobile-applications.jpg" 

%section.slide
  %header test autobox
  .autobox.highlight
    %p Testing autobox
    fsdfsdf
    %p prova
    
    
  %blockquote.slide
    %p A web application is
    %p
      %cite Wikipedia


  %img.box(src="imgs/twitter-web-app.jpg" height="auto")
  %p An application-like web site that is consumable by a modern mobile device
  %p.slide somehow



