%section.slide.toc
  %h1 Lecture 1: Introduction
%section.slide
  %h2 The Web is Dead!
  %a(href="http://www.wired.com/magazine/2010/08/ff_webrip/all/1")
    = image_tag_with_caption "the-web-is-dead.jpg",  "Wired August 2010"

%section.slide
  %h2 What is a Mobile Web App ?
%section.slide
  %h2 test autobox
  .autobox.highlight
    %p Testing autobox
    fsdfsdf
    %p prova
    
    
  %blockquote.slide
    %p A web application is
    %p
      %cite Wikipedia


  %img.box(src="imgs/twitter-web-app.jpg" height="auto")
  %p An application-like web site that is consumable by a modern mobile device
  %p.slide somehow



