%section#title-slide.slide
  %h1
    =META["title"]
    .subtitle=META["subtitle"]
%section#toc-slide.slide
  %h2 Contents
  #toc

= render "slides/lesson1.html.haml"
= render "slides/lesson2.html.haml"
= render "slides/lesson3.html.haml"
= render "slides/template.html.haml"
