=title_slide_tag("Lab 1: Assignment Kick-Off")

.background(data-background = "bg-lab1")
%section.slide.section-title
  %h1 Assignment Kick-Off
  .agenda
    %p Overview of the assignment (Claudio)
    %p GitHub (Kimmo)
    %p Windows Phones (Drazen Dodik)
    %p Teams (Håkan)
    %p Dev Environment (Antti)
    %p Course Examples (Claudio)
    
%section.slide
  %header Assignment: Goals
  %article
    %ul
      %li 
        Build a mobile web application with the following criteria: 
        %ul
          %li Using at least one of the HTML5 key API (e.g. canvas, local data storage, sockets)
          %li Using at least one mobile device feature (e.g. GPS, camera, sensors, media)
          %li Using some client/server communication (e.g. REST) 
      %li Complete freedom to choose the topic of the web app
      %li Mimic a real-life assignment

%section.slide
  %header Assignment: Team
  %article
    %ul
      %li Work as a team
      %li Nominate a team leader (to be the contact person)
      %li Weekly status report in GitHub (deadline is Sunday night)

%section.slide
  %header Assignment: Proposal
  %article
    %ul
      %li Name of the team
      %li Team leader
      %li List of GitHub accounts
      %li Description of the web app
      %li Key use cases
      %li List of client/server technologies
      %li Target devices
      %li How it fulfills the 3 assignment criteria
      %li Max 1 page
    %p Send the proposal to Håkan by 19 March 2012

%section.slide
  %header Assignment: Schedule
  %article
    %ul 
      %li
        %strong 12 March 
        \: Kick-off
      %li  
        %strong 19 March
        \: Proposal ready
      %li  
        %strong 23 April
        \: Mid-term review
      %li
        %strong 15 & 22 May
        \: Final review (demo day)
  
%section.slide
  %header Evaluation Criteria
  %article
    %ul
      %li Number of implemented use cases
      %li Usability of the application (e.g. touch interactions)
      %li Application design and code style
      %li Extra credits for a PhoneGap version that runs on other devices than the primary target devices
      
%section.slide
  %header Recap of next steps
  %article
    %ol
      %li You setup the GitHub accounts
      %li You send the proposal to Håkan before 19 March
      %li We send the confirmation the proposal has been accepted
      %li We send the GitHub repository that you will use
      %li You publish the weekly status updates on GitHub
      %li You show the results at the demo day