=title_slide_tag("Lab 1: Building a Mobile Web App")

%section.slide.section-title
  %h1 Building a Mobile Web App
  .agenda
    %p Ruby on Rails
    %p jQuery

  http://blog.bernatfarrero.com/jquery-and-rails-3-mini-tutorial/
  
  http://railscasts.com/episodes/310-getting-started-with-rails?autoplay=true

%section.slide
  %header Sinatra

  Show how render partials: http://www.sinatrarb.com/faq.html#partials  