=title_slide_tag("Lab 3: Backbone.js")

.background(data-background = "bg-learnhardway")
%section.slide.section-title
  %h1 Learn Backbone.js the Hard Way
  .agenda
    %p Overview of the challenge (10min)
    %p Group exercise (1:30)
    %p Feedback (15min)

%section.slide
  %header The Challenge
  %article
    %ul Build a webapp using Backbone.js
    %ul Try to complete the 7 tasks
    %ul Commit your code to Github
    %ul Win the challenge
  
%section.slide
  %header Personal Time Tracker  
  %article
    %ul 
      %li
        3 Use cases
        %ol
          %li Add/remove tasks (e.g. work, lunch, sleep)
          %li Start/stop tracking time on a task
          %li Report about total/average time per task
      %li Offline App
      %li Persist data in localStorage
      %li Delivered through a web server or just as a set of files
      %li Possibility to save the data to a server

%section.slide
  %header Tasks
  %article
    %ol
      %li MVC design
      %li Offline App
      %li Models 
      %li UI mock-up
      %li UI with functionality
      %li Local data persistence
      %li Server data persistence

%section.slide
  %header Publish to GitHub
  %article
    %p Publish it on Github (each team has a dedicated directory on a github repository)
    %p Scores will be given the following week
    %p Last commit is at 7pm.
    
    