=title_slide_tag("Lab 3: Templating")

%section.slide.section-title
  %h1 Templating
  .agenda
    %p Ruby on Rails
    %p jQuery

http://blog.carbonfive.com/2011/12/19/exploring-client-side-mvc-with-backbonejs/