=title_slide_tag("Lab 3: Backbone.js", "Claudio Riva, Mikael Blombeg and Antti Vuorela")

.background(data-background = "bg-learnhardway")
%section.slide.section-title
  %h1 Learn Backbone.js the Hard Way
  .agenda
    %p Overview of the challenge (10min)
    %p Group exercise (1:30)
    %p Feedback at 17:45 (15min)

%section.slide
  %header The Challenge
  %article
    %ul Build a webapp using Backbone.js
    %ul Try to complete the 7 tasks
    %ul Commit the code to your team's GitHub repo 
    %ul Win the challenge
    %ul Next week we'll look at the results
  
%section.slide
  %header Personal Time Tracker  
  %article
    %ul 
      %li
        3 Use cases
        %ol
          %li Add/remove tasks (e.g. work, lunch, sleep)
          %li Start/stop tracking time on a task
          %li Report about total/average time per task
      %li Offline Web App (manifest + localStorage) 
      %li Delivered through a web server or just as a set of files
      %li Possibility to save the data to a server

%section.slide
  %header Tasks
  %article
    %ol
      %li Design of MVC-based app (paper)
      %li Skeleton of the offline web app (manifest file)
      %li Implementation of the JS models 
      %li Web app with UI but no functionality
      %li Web app with UI with functionality
      %li Data persistence of models to localStorage
      %li Data persistence of models to server

%section.slide
  %header Publish to GitHub
  %article
    %p Publish the design and code to your team GitHub repo
    %p Create a new dir called "PersonalTimeTracker"
    %p Last commit is at 8pm.
    
    