=title_slide_tag("Lecture 7: Storage & Cloud")

%section.slide.section-title
  %h1 Lesson 7: Storage & Cloud
  .agenda
    %p IndexDB
    %p MongoDB
    %p Cloud Storage

%section.slide
  %header 
    Push Technology
  %article
