=title_slide_tag("Lecture : Upcoming HTML5 standards")

%section.slide.section-title
  %h1 Upcoming HTML5 standards
  .agenda
    %p Audio API
    

  http://www.html5rocks.com/en/tutorials/webaudio/intro/
  

%section
  List of what is supported per device 
  iOS:
  http://www.mobilexweb.com/blog/ios-5-iphone-and-ipad-html5
  
  Android 4.0
  http://www.mobilexweb.com/blog/android-4-0-browser-html5
  
  http://www.mobilexweb.com/blog/google-chrome-android-html5#more-122