=title_slide_tag("Lecture 4: File & Device Access")

%section.slide.section-title
  %h1 Lecture 4: File & Device Access
  .agenda
    %p File API
    %p Bytes and Blobs
    %p HTML Media Capture API
    %p Motion Sensor API
    %p GeoLocation API
    
%section.slide
  %header
    =html5_device_access_tag("File API")
    %span.smaller
      %a(href="http://www.w3.org/TR/FileAPI/") W3C
  %article
    The File API provides the interfaces for accessing file objects in web applications:
    %ul
      %li
        %strong.terminal<>
          Blob
        \: an interface for raw binary data
      %li
        %strong.terminal<>
          File
        \: readonly information about a file
      %li
        %strong.terminal<>
          FileList
        \: an array of individually selected files from the file system (e.g. through the file input tag)
      %li
        %strong.terminal<>
          FileReader
        \: asynchronous interface for reading the content of a File or Blob
      %li
        %strong.terminal<>
          URI scheme
        \: for referencing a blob (e.g. 
        %span.terminal>
          blob:4342e43fa43-34ea53-4343dfa-37675
        )
    It works in conjunction witht the new XMLHttpRequest level 2
          

%section.slide
  %header 
    Bytes and Blobs
    %span.smaller
      (
      %a(href="https://developer.mozilla.org/en/DOM/Blob") more info
      )  
  %article
    %ul    
      %li 
        %span.terminal Blob
        \= Binary Large Object
      %li A binary data interchange mechanism (File API)
      %li Useful for moving data around
      %li 
        Basic API for:
        %ul 
          %li
            %strong size
            \: size in bytes of the blob
          %li
            %strong type
            \: MIME type of the data contained in the blob
          %li
            %strong slice(start, end, contentType)
            \: a new blob containing the data in the specified range of the source blob
      %li Read only 
      %li May live on disk, so requires asynchronous access (e.g. FileReader)
      %li 
        Created with the 
        %span.terminal>
          BlobBuilder
        interface or by slicing an exisitng blob

%section.slide
  %header
    Why we need Blobs ? 
  %article
    %ul
      %li File uploading from the client file system to the server
      %li Downloading a file from web or filesystem and storing in localStorage
      %li Injecting a file from the file system into the DOM
      %li Decoding binary data (e.g. from websockets)
      %li Audio Synthesis
      %li Image processing

%section.slide
  %header BlobBuilder
  %article
    %p It provides the interface to construct a blob, append data and retrieve it:
    %ul
      %li
        %strong append( ArrayBuffer | Blob | String)
        \: append chucks of data to the blob
      %li
        %strong getBlob( contentType )
        \: retrieves the blob with the desired MIME type.
    :coderay 
      #!javascript
      var BlobBuilder = window.MozBlobBuilder || window.WebKitBlobBuilder || window.BlobBuilder;
      b = new BlobBuilder();
      b.append("Hello World");
      b.getBlob('text/plain');
                    
%section.slide
  %header
    File and Blobs
  %article
    %p 
      %span.terminal File
      objects represent file data from the file system. 
    %p 
      A 
      %span.terminal File
      is a
      %span.terminal Blob 
      (but a Blob is not a File) and in addition: 
      %ul
        %li 
          %strong name
        %li
          %strong lastModifiedDate
    %p 
      %span.terminal 
        FileReader
      object provides the asynchronous read methods to access the files

%section.slide
  %header
    How to get a File
  %article
    %ul
      %li
        With an input element of type file
        :coderay
          #!html
          <input type='file' multiple='true' accept='image/*'>
      %li
        With the drag-and-drop feature
      %li
        User grants permission to read the files by selectig them
      %li
        Read from a private filesystem sandbox

%section.slide
  %header.terminal
    FileList
  %article
    %p
      %span.terminal FileList
      objects are an array-like sequence of
      %span.terminal File
      objects
    .vmargin
      :coderay
        #!html
        <input type='file' id="fileSelect" multiple='true'>
    .vmargin
      :coderay
        #!javascript
        $("#fileSelect").live('change', function(e) {
          $.each(this.files, function (i,file){
            console.log(file.name, file.size, file.type, file.lastModifiedDate);
          }
        }
    %p 
      Test here: 
      %input(type='file' id="fileSelect" multiple='true')

:javascript 
  $(function () {
    $("#fileSelect").live('change', function(e) {
      $.each(this.files, function (i,file){
        console.log(file.name, file.size, file.type, file.lastModifiedDate);
      });
    });
  });
%section.slide
  %header
    XMLHttpRequest Level 2
  %article
    %p Old XMLHttpRequest was limited to send DomString or Document (XML) objects
    %p 
      New XMLHttpRequest level 2 allows to send the following types:
      %ul
        %li DomString
        %li Document (XML)
        %li FormData
        %li Blob
        %li File
        %li ArrayBuffer

%section.slide
  %header
    Sending a File
    %span.smaller
      =example_url_tag("fileAPITests")
  %article    
    :coderay
      #!javascript
      $.each(this.files, function (i,file){
        if (!file.type.match(/image.*/)) {
          return;
        }  
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/uploadFile', true);
        xhr.onload = function(e) {console.log (this.responseText); };
        xhr.setRequestHeader("X-File-Name", file. name);
        xhr.setRequestHeader("Content-Type", "application/octet-stream");
        xhr.send(file); //XHR2
      });

%section.slide
  %header
    FormData
  %article
    %p
      %span.terminal>
        FormData
      objects provide a way to easily build a set of key/value pairs (like Forms).
    %p
      The objects can be sent to the server with the XHR2 
      %span.terminal send 
      method as a 
      %span.terminal multipart/form-data 

    %p    
      The interface allows to 
      %span.terminal>
        append
      a key/value pair where: 
      %ul 
        %li
          %strong name
          is the a string representing the key
        %li  
          %strong value
          is the value of the field: Blob, File or string
        
%section.slide
  %header
    Sending files with FormData
    %span.smaller
      =example_url_tag("fileAPITests")
  %article    
    :coderay
      #!javascript
      var fd = new FormData(); // XHR2        
      $.each(this.files, function (i,file){
        fd.append(file.name, file);
      });
      
      var xhr = new XMLHttpRequest(); 
      xhr.open('POST', '/uploadFormData', true);
      xhr.onload = function(e) {console.log (this.responseText); };

      xhr.send(fd); // as multipart/form-data

%section.slide
  %header
    Downloading a Blob
  %article
    %p
      XHR2 allows to specify the type of the response: 
      %ul
        %li
          %strong xhr.responseType
          \: 
          %span.terminal
            text | arraybuffer | blob | document
        %li  
          %strong xhr.response
          \: the requested data

%section.slide
  %header
    What can we do with a Blob ?
  %article
    %p 
      Create an object and insert it in the DOM
      %ul
        %li 
          .terminal URL.createObjectURL()          
        %li
          .terminal URL.revokeObjectutL()
    %p 
      Read the content with a FileReader:
      %ul.terminal
        %li FileReader.readAsText( File|Blob )
        %li FileReader.readAsBinaryString( File|Blob )
        %li FileReader.readAsArrayBuffer( File|Blob )
        %li FileReader.readAsDataURL( File|Blob )
    %p
      Messages to/form WebWorkers
    %p Store in localStorage or IndexedDB
    
%section.slide
  %header 
    Downloading a Blob
    %span.smaller
      =example_url_tag("fileAPITests")
  %article
    :coderay
      #!javascript
      var xhr = new XMLHttpRequest();
      xhr.open('GET', 'logo.png', true);
      xhr.responseType = 'blob';
      
      xhr.onload = function(e) {
        if (this.status == 200) {
          var blob = this.response;
          
          var img = document.createElement('img');
          img.onload = function(e) {
            window.URL.revokeObjectURL(img.src); // Clean up after yourself.
          };
          img.src = window.URL.createObjectURL(blob);
          $('#blobOutput').append(img);
        }
      };
      xhr.send();  
      
%section.slide 
  %header ArrayBuffer    
  %article
    %p
      %span.terminal ArrayBuffer
      is a generic container for binary data.     
    %p 
      With typed arrays we can create different views from a single 
      %span.terminal ArrayBuffer
      \:
      .row
        .twoColumn
          %ul
            %li DataView
            %li Float32Array
            %li Float64Array
            %li Int16Array
            %li Int32Array
            %li Int8Array
        .twoColumn
          %ul
            %li Uint16Array
            %li Uint32Array
            %li Uint8Array        


%section.slide
  %header 
    Downloading to an Array
    %span.smaller
      =example_url_tag("fileAPITests")
  %article
    :coderay
      #!javascript
      var xhr = new XMLHttpRequest();
      xhr.open('GET', 'logo.png', true);
      xhr.responseType = 'arraybuffer';
      
      xhr.onload = function(e) {
        if (this.status == 200) {
          var a = new Uint8Array(this.response);
          html = 'First 3 bytes: ' + a[0] + ',' + a[1] + ',' + a[2];  
          $('#arrayOutput').html(html);
        }
      };
      xhr.send();  
      
%section.slide
  %header What can I do with an ArrayBuffer? 
  %article
    %ul
      %li Interface with Audio API
      %li WebGL
      %li WebSockets
      
%section.slide
  %header.terminal FileReader
  %article
    %span.terminal FileReader
    is an object that enables asynchronous reading of
    %span.terminal File
    and 
    %span.terminal Blob 
    objects.
    The following read methods are available: 
    %ul
      %li 
        %strong readAsText
        \: the result is a text string with default UTF-8
      %li 
        %strong readAsArrayBuffer
        \: the result is stored in a ArrayBuffer object
      %li 
        %strong readAsBinaryString
        \: the result is a binary string where each byte is an integer in the range [0-255]
      %li 
        %strong readAsDataURL
        \: the result is stored in a DataURL object using the 
        %a(href="http://en.wikipedia.org/wiki/Data_URI_scheme") data URI scheme 
        (e.g.
        %span.terminal data:image/png;base64,iVBO...
        )
    %p For tracking the progress, the following callbacks are available: onloadstart, onprogress, onload, onabort, onerror, and onloadend.
%section.slide
  %header
    %span.terminal FileReader.readAsText()    
    %span.smaller
      =example_url_tag("fileAPITests")    
  %article
    :coderay
      #!javascript     
      var reader = new FileReader();
      reader.onload = function() {
        var text = reader.result;
        $("#fileTextOutput").html(text);
      }
      reader.readAsText(this.files[0]);         

%section.slide
  %header
    %span.terminal FileReader.readAsDataURL()
    %span.smaller
      =example_url_tag("fileAPITests")      
  %article
    :coderay
      #!javascript     
      var reader = var reader = new FileReader();
          reader.onload = function() {
            var text = '<img src="'+reader.result+'"/>';
            $("#fileDataURLOutput").html(text);
          }
          reader.readAsDataURL(this.files[0]);         
 
%section.slide
  %header What works on mobile ?
  %article
    =image_tag('lesson4/file-api-browsers.png', :resize=>true)
    .autobox.smaller
      %ul
        %li
          HTML5 Specs: 
          %a(href="http://dev.w3.org/2006/webapi/FileAPI") File API
          ,
          %a(href="http://www.w3.org/TR/XMLHttpRequest/") XHR2
          ,
          %a(href="Typed Arrays") Native binary Array
        %li 
          Opera:
          %a(href="http://www.opera.com/docs/specs/presto2.10/file/") Opera Mobile File API
        %li
          Firefox:
          %a(href="https://developer.mozilla.org/en/DOM/XMLHttpRequest/Using_XMLHttpRequest") FireFox XHR2
          ,
          %a(href="https://developer.mozilla.org/en/JavaScript_typed_arrays") FireFox Typed Arrays
          ,
          %a(href="https://developer.mozilla.org/en/DOM/FileReader") FileReader  
        %li
          Html5Rocks Tricks:
          %a(href="http://www.html5rocks.com/en/tutorials/file/xhr2/") XHR2
          ,
          %a(href="http://www.html5rocks.com/en/tutorials/file/dndfiles/") Local files

%section.slide
  %header 
    Good old
    %span.terminal
      multipart/form-data
  %article
    %p Content type for submitting forms that contain binary data
    %p Works with all browsers
    .vmargin
      :coderay
        #!haml    
        %form(id="uploadFormPost" action="/uploadFormData" method="post" data-ajax='false' enctype="multipart/form-data")
          %input(type="file" id="fileChoose0" name="file"  multiple="true" accept="image/*" style="height:0;width:0;") 
          %button(id="uploadFormPostButton") Upload via Form POST 
    .vmargin
      :coderay
        #!javascript
        $("#uploadFormPostButton").click(function(e) { 
          e.preventDefault();
          $("#fileChoose0").click();
        });
        $("#fileChoose0").live('change', function() {
          $("#uploadFormPost").submit();
        });

%section.slide
  %header
    =html5_device_access_tag("HTML Media Capture API")
    %span.smaller
      %a(href="http://www.w3.org/TR/2010/WD-html-media-capture-20100720/") W3C
  %article
    %p Basic API for capturing media from the device (images, video and sound)
    %p 
      More powerful API will come with 
      %span.terminal
        %a(href="http://dev.w3.org/2011/webrtc/editor/getusermedia.html") getUserMedia
    %p Only implemented in Android Browser 3.0 onwards
    %p 
      Based on the extension of the 
      %span.terminal accept 
      attribute with the 
      %span.terminal capture
      paramenter:
    :coderay
      #!html
        <input type="file" accept="image/*;capture=camera">
    %ul
      %li
        %strong accept
        %span.terminal> : "image/*", "sound/*", "video/*"
      %li
        %strong capture
        %span.terminal> : camera, camcoder, microphone, filesystem     

%section.slide
  %header
    =html5_device_access_tag("The MediaFile Interface")
  %article
    %p 
      If the media capture succeds the 
      %span.terminal 
        files
      attribute contains 
      %span.terminal MediaFile
      objects instead of 
      %span.terminal File
      objects
    %p 
      %span.terminal MediaFile
      objects inherit from 
      %span.terminal File
      and have the additional attribute
      %span.terminal FormData
    %p
      %span.terminal
        FormData
      contains the attributes:
      %ul
        %li codecs
        %li bitrate
        %li height
        %li width
        %li duration 
        
%section.slide
  %header 
    =html5_device_access_tag("Device Orientation API")
    %span.smaller
      %a(href="http://www.w3.org/TR/orientation-event/") W3C

    
  %article
    %p API to access the information of accelererometers, gyroscopes and compasses of mobile devices
    .autobox
      .row
        .twoColumn
          .autobox
            %strong DeviceOrientation Event
            %ul
              %li alpha: around the Z-axis
              %li beta: around the X-axis
              %li gamma: around the Y-axis
            %strong MotionOrientation Event
            %ul
              %li acceleration
              %li accelerationIncludingGravity
        .twoColumn
          =image_tag("/lesson4/orientation.png", :resize => true)

%section.slide
  %header 
    =html5_device_access_tag("Device Orientation API")
  %article
    .row
      .threeColumn
        .autobox.centered
          Heading (Yaw)
          =image_tag("/lesson4/orientation-alpha.png", :resize => true)
      .threeColumn
        .autobox.centered
          Elevation (Pitch)
          =image_tag("/lesson4/orientation-beta.png", :resize => true)
      .threeColumn
        .autobox.centered
          Bank (Roll)
          =image_tag("/lesson4/orientation-gamma.png", :resize => true)
%section.slide
  %header
    Orientation Events 
    %span.smaller
      =example_url_tag("deviceOrientation")      
  %article
    :coderay
      #!javascript
          $(function() {
          if (window.DeviceOrientationEvent) {  
            window.addEventListener("deviceorientation", function( event ) {  
              }
              //alpha: rotation around z-axis  
              $(".alpha").html(event.alpha);
  
              //gamma: left to right  
              $(".beta").html(event.beta);
  
              //beta: front back motion  
              $(".gamma").html(event.gamma);
              
              var rotation = "rotateX("+(event.beta*-1)+"deg)"
              rotation += " rotateY("+(event.gamma)+"deg)" 
              rotation += "rotateZ("+(event.alpha*-1)+"deg)";
  
              $(".transform").html(rotation);
              $("#imgLogo").css('-moz-transform',rotation);
            }, false);  
          }  
        }

%section.slide
  %header 
    =html5_device_access_tag("Geolocation API")
    %span.smaller
      %a(href="http://dev.w3.org/geo/api/spec-source.html") W3C
  %article
    %ul
      %li 
        API for locating the user exact position that contains three methods: 
        %ul
          %li 
            %strong.terminal<> getCurrentPosition
            \: asynchronous request for current location of the user. The handler is invoked with a 
            %span.terminal< Position
            object
          %li 
            %strong.terminal<> watchPosition
            \: polling at regular intervals and if the location has changed invoke the handler with a
            %span.terminal< Position
            object
          %li 
            %strong.terminal<> clearWatch
            \: cancel the watching request 
        
      %li
        Browser displays a dialogue to request for user's permission
      
      %li
        Positioning happens in two ways:
        %ul
          %li IP, cell id, WiFi access point + some black magic from a geocoding provider (less accurate, fast, works indoor)
          %li GPS for enabled devices (accurate, slower, works outdoor)

%section.slide
  %header 
    =html5_device_access_tag("Geolocation API")
    %span.smaller
      %a(href="http://dev.w3.org/geo/api/spec-source.html") W3C
  %article
    :coderay
      #!javascript
      //Get location ASAP, regardless of accuracy
      navigator.geolocation.getCurrentPosition(function(position) {  
        do_something(position.coords.latitude, position.coords.longitude);  
      });
      
      //Watch for location changes, request high accuracy
      var wpid = navigator.geolocation.watchPosition(
        function(position) { do_something(position.coords.latitude, position.coords.longitude); }, 
        function(error) { show_error(error.code, error.message); },
        {enableHighAccuracy:true, maximumAge:30000, timeout:27000}
      );
    .autobox.smaller
      .row
        .threeColumn
          .autobox
            %strong
              Position 
            %ul
              %li 
                coords
              %li
                timestamp
        .threeColumn
          .autobox
            %strong
              Coordinates
            %ul
              %li
                latitude (decimal degrees)
              %li
                longitude (decimal degrees)
              %li
                accuracy (radius in m.)
              %li
                altitude (in m.)
              %li
                altitudeAccuracy (in m.)
              %li
                heading (degrees)
              %li 
                speed (in m/s)
        .threeColumn
          .autobox
            %strong
              Error
            %ul
              %li 
                %span.terminal code
                %ul
                  %li UNKNOWN_ERROR (0)
                  %li PERMISSION_DENIED (1)
                  %li POSITION_UNAVAILABLE (2)
                  %li TIMEOUT (3)
              %li
                %span.terminal message

%section.slide
  %header Challenge of the week
  %article
    Demo something cool that uses location and the sensors
    
      
%section.slide
  %header Camera API
  %article
    http://www.w3.org/TR/2010/WD-html-media-capture-20100720/
    http://my.opera.com/core/blog/2011/03/23/webcam-orientation-preview
%section.slide
  %header
    Resources
  %article
    http://davidflanagan.com/Talks/jsconf11/BytesAndBlobs.html