=title_slide_tag("Lecture 4: Canvas, File & Device Access")

%section.slide.section-title
  %h1 Lecture 4: Canvas, File & Device Access
  .agenda
    %p Canvas API
    %p Bytes, Blobs and File API
    %p HTML Media Capture API
    %p Motion Sensor API
    %p GeoLocation API
    %p Audio & Video

.background(data-background = "bg-lesson4-starry-night")

%section.slide
  %header
    =html5_multimedia_tag("Canvas API") 
    %span.smaller
      %a(href="http://www.whatwg.org/specs/web-apps/current-work/multipage/the-canvas-element.html") WHATWG
  %article
    %p One of the largest part of the HTML5 specification
    %p It provides an API for 2D drawing 
    Some examples: 
    %ul
      %li
        %a(href="http://www.cuttherope.ie/") Cut the Rope
      %li 
        %a(href="http://mudcu.be/sketchpad/") SketchPad
      %li
        %a(href="http://mrdoob.com/projects/harmony") Harmony 

%section.slide
  %header
    Bitmap vs Vector Graphics
  %article
    .row
      .twoColumn
        .autobox.hmargin
          %p 
            A 
            %strong bitmap 
            is just a list of color values for each pixels of the image (e.g. jpg, png, gif)
          %p Fixed resolution
          %p Large file
          %p Faster to load and display
      .twoColumn
        .autobox.hmargin
          %p
            A 
            %strong vector graphic
            is a list of instructions how to draw an image (e.g. SVG, VML)
          %p Resolution independent
          %p Smaller file
          %p Processor intensive

%section.slide
  %header
    =html5_multimedia_tag("Canvas API") 
  %article
    %p Javascript API providing low-level primitives for drawing on the Canvas
    Interface of the Canvas element:
    %ul
      %li 
        %strong.red<> getContext('2d')
        \: returns the object for accessing the Javascript Canvas API
      %li
        %strong.red<> toDataURL( [DOMString type])
        \: returns a data URL object for the image on the canvas. Type can be 'image/png', 'image/jpeg'
      %li 
        %strong.red<> toBlob(callback, [DOMString type])
        \: creates a Blob representation of the image on the canvas and passes to the callback function.
    :coderay
      #!html
      <canvas id="canvas"></canvas>
    :coderay
      #!javascript
      //Get the 2D Canvas context object
      var ctx = document.getElementById('canvas').getContext('2d');

%section.slide
  %header
    =html5_multimedia_tag("Canvas API") 
    %span.smaller
      %a(href="http://www.nihilogic.dk/labs/canvas_sheet/HTML5_Canvas_Cheat_Sheet.png") Cheat Sheet
  %article
    .row
      .twoColumn
        .autobox
          %strong Drawing tools
          %ul
            %li Rectangles
            %li Arcs
            %li Paths and line drawing
            %li Bezier and quadratic curves
          %strong Effects
          %ul
            %li Fills and strokes
            %li Shadows
            %li Linear and radial gradients
            %li Alpha transparency
            %li Compositing

      .twoColumn
        .autobox
          %strong Transformations
          %ul
            %li Scaling
            %li Rotation
            %li Translation
            %li Transformation matrix
          %strong Importing/exporting images
          %ul
            %li Importing images by URL, other canvases or capturing video
            %li Taking a snapshot of the canvas as a data URI
              
  
%section.slide
  %header
    Drawing on the canvas
  %article
    :coderay
      #!javascript
      var ctx = document.getElementById('canvas_1').getContext('2d');
      ctx.fillStyle = 'rgb(0, 255, 0)';
      ctx.fillRect(10, 20, 50, 50); //Create a solid square
      ctx.strokeStyle = 'rgb(0, 182, 0)';
      ctx.lineWidth = 5;
      ctx.strokeRect(9, 19, 52, 52); //Draws an outline
      gradient = ctx.createLinearGradient(0, 0, 0 , 100);
      gradient.addColorStop(0, '#fff');
      gradient.addColorStop(1, '#f00');
      ctx.fillStyle = gradient;
      ctx.fillRect(100, 10, 100, 100);      
    %canvas#canvas_1(width="800px" height="220")
:javascript
  $(function() {
    var ctx = document.getElementById('canvas_1').getContext('2d');
    ctx.fillStyle = 'rgb(0, 255, 0)';
    ctx.fillRect(100, 20, 50, 50); //Create a solid square
    ctx.strokeStyle = 'rgb(0, 182, 0)';
    ctx.lineWidth = 5;
    ctx.strokeRect(99, 19, 52, 52); //Draws an outline
    gradient = ctx.createLinearGradient(0, 0, 0 , 100);
    gradient.addColorStop(0, '#fff');
    gradient.addColorStop(1, '#f00');
    ctx.fillStyle = gradient;
    ctx.fillRect(300, 10, 100, 100);
  })

%section.slide
  %header
    Drawing paths
  %article
    .row
      .twoColumn
        :coderay
          #!javascript
          ctx.beginPath();
          ctx.arc(150, 150, 100, 0, 2 * Math.PI, false);
          ctx.closePath();
          ctx.fillStyle = "rgb(255, 255, 0)";
          ctx.fill();

          ctx.fillStyle = "rgb(0, 0, 0)";
          ctx.beginPath();
          ctx.arc(120, 130, 20, 0, 2 * Math.PI, false);
          ctx.closePath();
          ctx.fill();

          ctx.beginPath();
          ctx.arc(180, 130, 20, 0, 2 * Math.PI, false);
          ctx.closePath();
          ctx.fill();
    
          ctx.beginPath();
          ctx.arc(150, 150, 70, Math.PI/10, Math.PI*(1-1/10), false);
          ctx.lineWidth = 5;
          ctx.strokeStyle = "rgb(0,0,0)";
          ctx.stroke();
      .twoColumn
        %canvas#canvas_2(width="300px" height="300")
  :javascript
    $(function() {
      var ctx = document.getElementById('canvas_2').getContext('2d');
      ctx.beginPath();
      ctx.arc(150, 150, 100, 0, 2 * Math.PI, false);
      ctx.closePath();
      ctx.fillStyle = "rgb(255, 255, 0)";
      ctx.fill();

      ctx.fillStyle = "rgb(0, 0, 0)";
      ctx.beginPath();
      ctx.arc(120, 130, 20, 0, 2 * Math.PI, false);
      ctx.closePath();
      ctx.fill();

      ctx.beginPath();
      ctx.arc(180, 130, 20, 0, 2 * Math.PI, false);
      ctx.closePath();
      ctx.fill();
      
      ctx.beginPath();
      ctx.arc(150, 150, 70, Math.PI/10, Math.PI*(1-1/10), false);
      ctx.lineWidth = 5;
      ctx.strokeStyle = "rgb(0,0,0)";
      ctx.stroke();
    })
    
%section.slide
  %header
    Drawing an image
  %article
    .vmargin
      .terminal.singlespace
        %p drawImage(image, dx, dy)
        %p drawImage(image, dx, dy, dw, dh)
        %p drawImage(image, sx, sy, sw, sh, dx, dy, dw, dh)
    .row
      .twoColumn
        .autobox
          :coderay
            #!javascript
              var img = new Image();
            
              //wait until the image has loaded
              img.onload = function () {
                ctx.drawImage(this, 0, 0);
              };
          
              img.src = "banksy.jpg"
          %p Source can be an image, a canvas or a video.
      .twoColumn
        %canvas#canvas_3(width="400px" height="400")
:javascript
  $(function() {
    var ctx = document.getElementById('canvas_3').getContext('2d');
    var img = new Image();
    img.onload = function () {
      ctx.drawImage(this, 0, 0);
    };
    img.src = "imgs/lesson4/street-maid-graffiti-banksy.jpg"
  })

%section.slide
  %header
    Pixel-level Processing
  %article
    .vmargin
      .terminal.singlespace
        %p var pixels = getImageData(sx, sy, sw, sh)
        %p putImageData(pixels, dx, dy)
        %p pixels => [ r1, g1, b1, a1, r2, g2, ...]
    .row
      .twoColumn.small
        :coderay
          #!javascript
          var img = new Image();
          img.onload = function () {
            ctx.drawImage(this, 0, 0);
            var a = ctx.getImageData(0, 0, this.width, this.height);
            var b = $.map(a, function(v,i) {
              if (i % 4 < 3) return 255-v;
              else return v;
            });
            ctx.putImageData(b, 0, 0);
          };
          img.src = "imgs/lesson4/street-maid-graffiti-banksy.jpg"
      .twoColumn
        %canvas#canvas_4(width="400px" height="300")
    
:javascript
  $(function() {
    var ctx = document.getElementById('canvas_4').getContext('2d');
    var img = new Image();
    img.onload = function () {
      ctx.drawImage(this, 0, 0);
      var pixels = ctx.getImageData(0, 0, this.width, this.height);
      $.each(pixels.data, function(i,v) {
        if (i % 4 < 3) 
          pixels.data[i] = 255 - pixels.data[i];
      });
      ctx.putImageData(pixels, 0, 0);
    };
    img.src = "imgs/lesson4/street-maid-graffiti-banksy.jpg"
  })
 
%section.slide
  %header
    Animating the canvas
  %article
    Animations can be achieved by re-drawing the canvas:
    %ol
      %li Initialize the canvas and the objects
      %li Clear the canvas
      %li Draw the canvas

%section.slide
  %header
    Draw Smile
  %article
    .row
      .twoColumn
        :coderay
          #!javascript
          function drawSmile(ctx) {
            ctx.beginPath();
            ctx.arc(150, 150, 100, 0, 2 * Math.PI, false);
            ctx.closePath();
            ctx.fillStyle = "rgb(255, 255, 0)";
            ctx.fill();

            ctx.fillStyle = "rgb(0, 0, 0)";
            ctx.beginPath();
            ctx.arc(120, 130, 20, 0, 2 * Math.PI, false);
            ctx.closePath();
            ctx.fill();

            ctx.beginPath();
            ctx.arc(180, 130, 20, 0, 2 * Math.PI, false);
            ctx.closePath();
            ctx.fill();

            ctx.beginPath();
            ctx.arc(150, 150, 70, Math.PI/10, Math.PI*(1-1/10), false);
            ctx.lineWidth = 5;
            ctx.strokeStyle = "rgb(0,0,0)";
            ctx.stroke();
          }
      .twoColumn
        %canvas#canvas_5(width="300px" height="300")
  :javascript
    $(function() {
      function drawSmile(ctx) {
        ctx.beginPath();
        ctx.arc(150, 150, 100, 0, 2 * Math.PI, false);
        ctx.closePath();
        ctx.fillStyle = "rgb(255, 255, 0)";
        ctx.fill();

        ctx.fillStyle = "rgb(0, 0, 0)";
        ctx.beginPath();
        ctx.arc(120, 130, 20, 0, 2 * Math.PI, false);
        ctx.closePath();
        ctx.fill();

        ctx.beginPath();
        ctx.arc(180, 130, 20, 0, 2 * Math.PI, false);
        ctx.closePath();
        ctx.fill();

        ctx.beginPath();
        ctx.arc(150, 150, 70, Math.PI/10, Math.PI*(1-1/10), false);
        ctx.lineWidth = 5;
        ctx.strokeStyle = "rgb(0,0,0)";
        ctx.stroke();
      }
      var ctx = document.getElementById('canvas_5').getContext('2d');
      drawSmile(ctx);
    })

%section.slide
  %header
    Draw Smile that blinks
  %article
    .row
      .twoColumn
        :coderay
          #!javascript
          function drawSmileBlink(ctx) {
            ctx.beginPath();
            ctx.arc(150, 150, 100, 0, 2 * Math.PI, false);
            ctx.closePath();
            ctx.fillStyle = "rgb(255, 255, 0)";
            ctx.fill();

            ctx.fillStyle = "rgb(0, 0, 0)";
            ctx.lineWidth = 5;
            ctx.beginPath();
            ctx.moveTo(100,120);
            ctx.lineTo(140,140);
            ctx.closePath();
            ctx.stroke();

            ctx.beginPath();
            ctx.arc(180, 130, 20, 0, 2 * Math.PI, false);
            ctx.closePath();
            ctx.fill();

            ctx.beginPath();
            ctx.arc(150, 150, 70, Math.PI/10, Math.PI*(1-1/10), false);
            ctx.lineWidth = 5;
            ctx.strokeStyle = "rgb(0,0,0)";
            ctx.stroke();
          }
      .twoColumn
        %canvas#canvas_6(width="300px" height="300")
  :javascript
    $(function() {
      function drawSmileBlink(ctx) {
        ctx.beginPath();
        ctx.arc(150, 150, 100, 0, 2 * Math.PI, false);
        ctx.closePath();
        ctx.fillStyle = "rgb(255, 255, 0)";
        ctx.fill();

        ctx.fillStyle = "rgb(0, 0, 0)";
        ctx.beginPath();
        ctx.lineWidth = 5;
        ctx.moveTo(100,120);
        ctx.lineTo(140,140);
        ctx.closePath();
        ctx.stroke();

        ctx.beginPath();
        ctx.arc(180, 130, 20, 0, 2 * Math.PI, false);
        ctx.closePath();
        ctx.fill();

        ctx.beginPath();
        ctx.arc(150, 150, 70, Math.PI/10, Math.PI*(1-1/10), false);
        ctx.lineWidth = 5;
        ctx.strokeStyle = "rgb(0,0,0)";
        ctx.stroke();
      }
      var ctx = document.getElementById('canvas_6').getContext('2d');
      drawSmileBlink(ctx);
    })

%section.slide
  %header
    Blinking Smile
  %article
    :coderay
      #!javascript
      function clear(ctx) { ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height); }
      var timer1 = setInterval(function() {
        clear(ctx);
        drawSmileBlink(ctx);
        
        var timer2 = setTimeout(function() {
          clear(ctx);
          drawSmile(ctx);
        }, 300);

      }, 5000);
    %canvas#canvas_7(width="300px" height="300")
:javascript
  $(function() {
    function drawSmile(ctx) {
      ctx.beginPath();
      ctx.arc(150, 150, 100, 0, 2 * Math.PI, false);
      ctx.closePath();
      ctx.fillStyle = "rgb(255, 255, 0)";
      ctx.fill();

      ctx.fillStyle = "rgb(0, 0, 0)";
      ctx.beginPath();
      ctx.arc(120, 130, 20, 0, 2 * Math.PI, false);
      ctx.closePath();
      ctx.fill();

      ctx.beginPath();
      ctx.arc(180, 130, 20, 0, 2 * Math.PI, false);
      ctx.closePath();
      ctx.fill();

      ctx.beginPath();
      ctx.arc(150, 150, 70, Math.PI/10, Math.PI*(1-1/10), false);
      ctx.lineWidth = 5;
      ctx.strokeStyle = "rgb(0,0,0)";
      ctx.stroke();
    }
    function drawSmileBlink(ctx) {
      ctx.beginPath();
      ctx.arc(150, 150, 100, 0, 2 * Math.PI, false);
      ctx.closePath();
      ctx.fillStyle = "rgb(255, 255, 0)";
      ctx.fill();

      ctx.fillStyle = "rgb(0, 0, 0)";
      ctx.lineWidth = 5;
      ctx.beginPath();
      ctx.moveTo(100,120);
      ctx.lineTo(140,140);
      ctx.closePath();
      ctx.stroke();

      ctx.beginPath();
      ctx.arc(180, 130, 20, 0, 2 * Math.PI, false);
      ctx.closePath();
      ctx.fill();

      ctx.beginPath();
      ctx.arc(150, 150, 70, Math.PI/10, Math.PI*(1-1/10), false);
      ctx.lineWidth = 5;
      ctx.strokeStyle = "rgb(0,0,0)";
      ctx.stroke();
    }
    function clear(ctx) {
      ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);
    }
    var ctx = document.getElementById('canvas_7').getContext('2d');
    drawSmile(ctx);
    //Draw on the canvas every 15ms (about 60fps).
    var timer1 = setInterval(function() {
      clear(ctx);
      drawSmileBlink(ctx);
        var timer2 = setTimeout(function() {
        clear(ctx);
        drawSmile(ctx);
      }, 300);
      
    }, 5000);
    
  })

%section.slide
  %header
    Rotating Blinking Smile
    %span.smaller
      =example_url_tag("canvasSmile")
  %article
    %canvas#canvas_8(width="400px" height="400")
:javascript
  $(function() {
    function drawSmile(ctx) {
      ctx.beginPath();
      ctx.arc(100, 100, 100, 0, 2 * Math.PI, false);
      ctx.closePath();
      ctx.fillStyle = "rgb(255, 255, 0)";
      ctx.fill();

      ctx.fillStyle = "rgb(0, 0, 0)";
      ctx.beginPath();
      ctx.arc(70, 80, 20, 0, 2 * Math.PI, false);
      ctx.closePath();
      ctx.fill();

      ctx.beginPath();
      ctx.arc(130, 80, 20, 0, 2 * Math.PI, false);
      ctx.closePath();
      ctx.fill();

      ctx.beginPath();
      ctx.arc(100, 100, 70, Math.PI/10, Math.PI*(1-1/10), false);
      ctx.lineWidth = 5;
      ctx.strokeStyle = "rgb(0,0,0)";
      ctx.stroke();
    }
    function drawSmileBlink(ctx) {
      ctx.beginPath();
      ctx.arc(100, 100, 100, 0, 2 * Math.PI, false);
      ctx.closePath();
      ctx.fillStyle = "rgb(255, 255, 0)";
      ctx.fill();

      ctx.fillStyle = "rgb(0, 0, 0)";
      ctx.lineWidth = 5;
      ctx.beginPath();
      ctx.moveTo(50,70);
      ctx.lineTo(90,90);
      ctx.closePath();
      ctx.stroke();

      ctx.beginPath();
      ctx.arc(130, 80, 20, 0, 2 * Math.PI, false);
      ctx.closePath();
      ctx.fill();

      ctx.beginPath();
      ctx.arc(100, 100, 70, Math.PI/10, Math.PI*(1-1/10), false);
      ctx.lineWidth = 5;
      ctx.strokeStyle = "rgb(0,0,0)";
      ctx.stroke();
    }

    function clear(ctx) {
      ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);
    }
    var ctx = document.getElementById('canvas_8').getContext('2d');
    function createCtx() {
      var canvas = document.createElement('canvas');
      canvas.width = 200;
      canvas.height = 200;
      return canvas.getContext('2d');
    }
    //Create all the contexts
    var smileCtx = createCtx();
    var smileBlinkCtx = createCtx(); 
    var mainCtx = createCtx();

    //Draw the smiles on their own canvas
    drawSmile(smileCtx);
    drawSmileBlink(smileBlinkCtx);

    //Translate the center of the main context
    mainCtx.translate(100,100);
    mainCtx.drawImage(smileCtx.canvas, 0, 0, 200, 200, -100, -100, 200, 200);
    ctx.drawImage(mainCtx.canvas, 0, 0);
    
    var timer1, timer2, timer3;
    var current = smileCtx.canvas;
    timer1 = setInterval(function() {
      current = smileBlinkCtx.canvas;
      timer2 = setTimeout(function() {
        current = smileCtx.canvas;
      }, 300);
    }, 5000);

    start = function() {
      //Draw on the canvas every 50ms 
      timer3 = setInterval(function() {
        clear(ctx);
        mainCtx.rotate(Math.PI/180*5);
        mainCtx.drawImage(current, 0, 0, 200, 200, -100, -100, 200, 200);
        ctx.drawImage(mainCtx.canvas, 0, 0);
      }, 50);
    }
    stop = function() {
      clearInterval(timer3);
    }
    $("#canvas_8").mouseenter(start);
    $("#canvas_8").mouseleave(stop);
    
  })


%section.slide
  %header
    Rotating Blinking Smile - 1
  %article
    :coderay
      #!javascript
      function createCtx() {
        var canvas = document.createElement('canvas');
        canvas.width = 200;
        canvas.height = 200;
        return canvas.getContext('2d');
      }
      //Create all the contexts
      var smileCtx = createCtx();
      var smileBlinkCtx = createCtx(); 
      var mainCtx = createCtx();

      //Draw the smiles on their own canvas
      drawSmile(smileCtx);
      drawSmileBlink(smileBlinkCtx);

      //Translate the center of the main context
      mainCtx.translate(100,100);
      mainCtx.drawImage(smileCtx.canvas, 0, 0, 200, 200, -100, -100, 200, 200);
      ctx.drawImage(mainCtx.canvas, 0, 0);


%section.slide
  %header
    Rotating Blinking Smile - 2
  %article
    :coderay
      #!javascript
      var current = smileCtx.canvas;
      var timer1 = setInterval(function() {
        current = smileBlinkCtx.canvas;
        var timer2 = setTimeout(function() {
          current = smileCtx.canvas;
        }, 300);
      }, 5000);

      //Draw on the canvas every 50ms 
      var timer3 = setInterval(function() {
        clear(ctx);
        mainCtx.rotate(Math.PI/180*5);
        mainCtx.drawImage(current, 0, 0, 200, 200, -100, -100, 200, 200);
        ctx.drawImage(mainCtx.canvas, 0, 0);
      }, 50);

%section.slide
  %header
    Exporting the canvas as a Data URI
    %span.smaller
      =example_url_tag("canvasInstagram")
  %article    
    %ul 
      %li Take a snapshot of the canvas and store it into PNG/JPEG image
      %li Image is a Base64 encoded data URL
      %li
        %a(href="https://developer.mozilla.org/en/CORS_Enabled_Image") Cross origin policy
    :coderay
      #!javascript
      image = ctx.canvas.toDataURL('image/png');
    :coderay
      #!plain
      image => data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAAEsCAYAAAB5fY51AAAbRElE...

    .row
      .twoColumn
        %canvas#canvas_9(width="300px" height="300")
      .twoColumn
        %br
        %br
        %a#testDataURL(href="#") Export Image as DataURL
    
    
:javascript
  $(function() {
    var ctx = document.getElementById('canvas_9').getContext('2d');
    ctx.beginPath();
    ctx.arc(150, 150, 100, 0, 2 * Math.PI, false);
    ctx.closePath();
    ctx.fillStyle = "rgb(255, 255, 0)";
    ctx.fill();

    ctx.fillStyle = "rgb(0, 0, 0)";
    ctx.beginPath();
    ctx.arc(120, 130, 20, 0, 2 * Math.PI, false);
    ctx.closePath();
    ctx.fill();

    ctx.beginPath();
    ctx.arc(180, 130, 20, 0, 2 * Math.PI, false);
    ctx.closePath();
    ctx.fill();

    ctx.beginPath();
    ctx.arc(150, 150, 70, Math.PI/10, Math.PI*(1-1/10), false);
    ctx.lineWidth = 5;
    ctx.strokeStyle = "rgb(0,0,0)";
    ctx.stroke();
    $('#testDataURL').click( function(e){
      e.preventDefault();
      var snapshot = ctx.canvas.toDataURL('image/png');
      window.open(snapshot, "toDataURL() image", "width=600, height=200");
      
    });
    
  })


%section.slide
  %header Scalable Vector Graphics (SVG)
  %article
    %p XML based vector graphics format
    %p SVG objects are available in the DOM and can be created/traversed/manipulated like HTML elements
    :coderay
      #!haml
      %svg(xmlns="http://www.w3.org/2000/svg" width="300" height="200")
        %text(style="font-size:30; stroke: blue" x="10"  y="100")
          Hello World
        %rect(x="5" y="50" width="150" height="30" style="fill:yellow")
    %circle(cx="20" cy="50" r="20" style="fill:red")
    %svg(xmlns="http://www.w3.org/2000/svg" width="300" height="200")
      %text(style="font-size:30; stroke: blue" x="10"  y="100")
        Hello World
      %rect(x="5" y="50" width="150" height="30" style="fill:yellow")
      %circle(cx="20" cy="50" r="20" style="fill:red")

%section.slide 
  %header SVG vs Canvas
  %article
    %ul
      %li Plenty of graphic tools export SVG
      %li SVG is retained in the DOM, the canvas not
      %li We can bind for events to SVG objects
      %li SVG handles scaling better than canvas that supports only zooming
      %li Canvas is more suitable for one-time drawing (no interaction and no events)
      
%section.slide
  %header
    Javascript Libraries
  %article
    %ul
      %li 
        %a(href="http://raphaeljs.com") RaphaelJS
      %li 
        %a(href="http://processingjs.org/") JS Port of Processing language
      %li
        %a(href="http://www.pixastic.com/lib/docs/") Pixastic
      %li 
        %a(href="http://code.google.com/p/canvg/") Canvg
      %li 
        %a(href="http://www.professorcloud.com/svg-to-canvas/") SVG to Canvas
    
%section.slide
  %header
    What can you do with a canvas ? 
  %article
    An App that 
    %ul
      %li.slide is #1 in 79 countries
      %li.slide has been downloaded 35+ million times just 6 weeks after launch
      %li.slide generates $1 million+ revenues/day
      %li.slide has 15+ million users
      %li.slide generates 3,000 drawings per second
      %li.slide generated 2 billion drawings since launch (15 Feb 2012)
      %li.slide reached 1 million users in 9 days

%section.slide
  %header
    Draw Something
  %article
    =image_tag "lesson4/drawsomething.png", :resize => true

.background(data-background = "bg-lesson4-disk")

    
%section.slide
  %header
    =html5_device_access_tag("File API")
    %span.smaller
      %a(href="http://www.w3.org/TR/FileAPI/") W3C
  %article
    The File API provides the interfaces for accessing file objects in web applications:
    %ul
      %li
        %strong.terminal<>
          Blob
        \: an interface for raw binary data
      %li
        %strong.terminal<>
          File
        \: readonly information about a file
      %li
        %strong.terminal<>
          FileList
        \: an array of individually selected files from the file system (e.g. through the file input tag)
      %li
        %strong.terminal<>
          FileReader
        \: asynchronous interface for reading the content of a File or Blob
      %li
        %strong.terminal<>
          URI scheme
        \: for referencing a blob (e.g. 
        %span.terminal>
          blob:4342e43fa43-34ea53-4343dfa-37675
        )
    It works in conjunction witht the new XMLHttpRequest level 2
          

%section.slide
  %header 
    Bytes and Blobs
    %span.smaller
      (
      %a(href="https://developer.mozilla.org/en/DOM/Blob") more info
      )  
  %article
    %ul    
      %li 
        %span.terminal Blob
        \= Binary Large Object
      %li A binary data interchange mechanism (File API)
      %li Useful for moving data around
      %li 
        Basic API for:
        %ul 
          %li
            %strong size
            \: size in bytes of the blob
          %li
            %strong type
            \: MIME type of the data contained in the blob
          %li
            %strong slice(start, end, contentType)
            \: a new blob containing the data in the specified range of the source blob
      %li Read only 
      %li May live on disk, so requires asynchronous access (e.g. FileReader)
      %li 
        Created with the 
        %span.terminal>
          BlobBuilder
        interface or by slicing an exisitng blob

%section.slide
  %header
    Why we need Blobs ? 
  %article
    %ul
      %li File uploading from the client file system to the server
      %li Downloading a file from web or filesystem and storing in localStorage
      %li Injecting a file from the file system into the DOM
      %li Decoding binary data (e.g. from websockets)
      %li Audio Synthesis
      %li Image processing

%section.slide
  %header BlobBuilder
  %article
    %p It provides the interface to construct a blob, append data and retrieve it:
    %ul
      %li
        %strong append( ArrayBuffer | Blob | String)
        \: append chucks of data to the blob
      %li
        %strong getBlob( contentType )
        \: retrieves the blob with the desired MIME type.
    :coderay 
      #!javascript
      var BlobBuilder = window.MozBlobBuilder || window.WebKitBlobBuilder || window.BlobBuilder;
      b = new BlobBuilder();
      b.append("Hello World");
      b.getBlob('text/plain');
                    
%section.slide
  %header
    File and Blobs
  %article
    %p 
      %span.terminal File
      objects represent file data from the file system. 
    %p 
      A 
      %span.terminal File
      is a
      %span.terminal Blob 
      (but a Blob is not a File) and in addition: 
      %ul
        %li 
          %strong name
        %li
          %strong lastModifiedDate
    %p 
      %span.terminal 
        FileReader
      object provides the asynchronous read methods to access the files

%section.slide
  %header
    How to get a File
  %article
    %ul
      %li
        With an input element of type file
        :coderay
          #!html
          <input type='file' multiple='true' accept='image/*'>
      %li
        With the drag-and-drop feature
      %li
        Read from a private filesystem sandbox (
        %a(href="http://dev.w3.org/2009/dap/file-system/pub/FileSystem/") FileSystem API
        )

%section.slide
  %header.terminal
    FileList
  %article
    %p
      %span.terminal FileList
      objects are an array-like sequence of
      %span.terminal File
      objects
    .vmargin
      :coderay
        #!html
        <input type='file' id="fileSelect" multiple='true'>
    .vmargin
      :coderay
        #!javascript
        $("#fileSelect").live('change', function(e) {
          $.each(this.files, function (i,file){
            console.log(file.name, file.size, file.type, file.lastModifiedDate);
          }
        }
    %p 
      Test here: 
      %input(type='file' id="fileSelect" multiple='true')

:javascript 
  $(function () {
    $("#fileSelect").live('change', function(e) {
      $.each(this.files, function (i,file){
        console.log(file.name, file.size, file.type, file.lastModifiedDate);
      });
    });
  });
%section.slide
  %header
    XMLHttpRequest Level 2
  %article
    %p Old XMLHttpRequest was limited to send DomString or Document (XML) objects
    %p 
      New XMLHttpRequest level 2 allows to send the following types:
      %ul
        %li DomString
        %li Document (XML)
        %li FormData
        %li Blob
        %li File
        %li ArrayBuffer

%section.slide
  %header
    Sending a File
    %span.smaller
      =example_url_tag("fileAPITests")
  %article    
    :coderay
      #!javascript
      $.each(this.files, function (i,file){
        if (!file.type.match(/image.*/)) {
          return;
        }  
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/uploadFile', true);
        xhr.onload = function(e) {console.log (this.responseText); };
        xhr.setRequestHeader("X-File-Name", file. name);
        xhr.setRequestHeader("Content-Type", "application/octet-stream");
        xhr.send(file); //XHR2
      });

%section.slide
  %header
    FormData
  %article
    %p
      %span.terminal>
        FormData
      objects provide a way to easily build a set of key/value pairs (like Forms).
    %p
      The objects can be sent to the server with the XHR2 
      %span.terminal send 
      method as a 
      %span.terminal multipart/form-data 

    %p    
      The interface allows to 
      %span.terminal>
        append
      a key/value pair where: 
      %ul 
        %li
          %strong name
          is the a string representing the key
        %li  
          %strong value
          is the value of the field: Blob, File or string
        
%section.slide
  %header
    Sending files with FormData
    %span.smaller
      =example_url_tag("fileAPITests")
  %article    
    :coderay
      #!javascript
      var fd = new FormData(); // XHR2        
      $.each(this.files, function (i,file){
        fd.append(file.name, file);
      });
      
      var xhr = new XMLHttpRequest(); 
      xhr.open('POST', '/uploadFormData', true);
      xhr.onload = function(e) {console.log (this.responseText); };

      xhr.send(fd); // as multipart/form-data

%section.slide
  %header
    Downloading a Blob
  %article
    %p
      XHR2 allows to specify the type of the response: 
      %ul
        %li
          %strong xhr.responseType
          \: 
          %span.terminal
            text | arraybuffer | blob | document
        %li  
          %strong xhr.response
          \: the requested data

%section.slide
  %header
    What can we do with a Blob ?
  %article
    Create an object and insert it in the DOM
    %ul
      %li 
        .terminal URL.createObjectURL()          
      %li
        .terminal URL.revokeObjectutL()
    Read the content with a FileReader:
    %ul.terminal
      %li FileReader.readAsText( File|Blob )
      %li FileReader.readAsBinaryString( File|Blob )
      %li FileReader.readAsArrayBuffer( File|Blob )
      %li FileReader.readAsDataURL( File|Blob )
    %p
      Messages to/form WebWorkers
    %p Store in localStorage or IndexedDB
    
%section.slide
  %header 
    Downloading a Blob
    %span.smaller
      =example_url_tag("fileAPITests")
  %article
    :coderay
      #!javascript
      var xhr = new XMLHttpRequest();
      xhr.open('GET', 'logo.png', true);
      xhr.responseType = 'blob';
      
      xhr.onload = function(e) {
        if (this.status == 200) {
          var blob = this.response;
          
          var img = document.createElement('img');
          img.onload = function(e) {
            window.URL.revokeObjectURL(img.src); // Clean up after yourself.
          };
          img.src = window.URL.createObjectURL(blob);
          $('#blobOutput').append(img);
        }
      };
      xhr.send();  
      
%section.slide 
  %header ArrayBuffer    
  %article
    %p
      %span.terminal ArrayBuffer
      is a generic container for binary data.     
    %p 
      With typed arrays we can create different views from a single 
      %span.terminal ArrayBuffer
      \:
      .row
        .twoColumn
          %ul
            %li DataView
            %li Float32Array
            %li Float64Array
            %li Int16Array
            %li Int32Array
            %li Int8Array
        .twoColumn
          %ul
            %li Uint16Array
            %li Uint32Array
            %li Uint8Array        


%section.slide
  %header 
    Downloading to an Array
    %span.smaller
      =example_url_tag("fileAPITests")
  %article
    :coderay
      #!javascript
      var xhr = new XMLHttpRequest();
      xhr.open('GET', 'logo.png', true);
      xhr.responseType = 'arraybuffer';
      
      xhr.onload = function(e) {
        if (this.status == 200) {
          var a = new Uint8Array(this.response);
          html = 'First 3 bytes: ' + a[0] + ',' + a[1] + ',' + a[2];  
          $('#arrayOutput').html(html);
        }
      };
      xhr.send();  
      
%section.slide
  %header What can I do with an ArrayBuffer? 
  %article
    %ul
      %li Interface with Audio API
      %li WebGL
      %li WebSockets
      
%section.slide
  %header.terminal FileReader
  %article
    %span.terminal FileReader
    is an object that enables asynchronous reading of
    %span.terminal File
    and 
    %span.terminal Blob 
    objects.
    The following read methods are available: 
    %ul
      %li 
        %strong readAsText
        \: the result is a text string with default UTF-8
      %li 
        %strong readAsArrayBuffer
        \: the result is stored in a ArrayBuffer object
      %li 
        %strong readAsBinaryString
        \: the result is a binary string where each byte is an integer in the range [0-255]
      %li 
        %strong readAsDataURL
        \: the result is stored in a DataURL object using the 
        %a(href="http://en.wikipedia.org/wiki/Data_URI_scheme") data URI scheme 
        (e.g.
        %span.terminal data:image/png;base64,iVBO...
        )
    %p For tracking the progress, the following callbacks are available: onloadstart, onprogress, onload, onabort, onerror, and onloadend.
%section.slide
  %header
    %span.terminal FileReader.readAsText()    
    %span.smaller
      =example_url_tag("fileAPITests")    
  %article
    :coderay
      #!javascript     
      var reader = new FileReader();
      reader.onload = function() {
        var text = reader.result;
        $("#fileTextOutput").html(text);
      }
      reader.readAsText(this.files[0]);         

%section.slide
  %header
    %span.terminal FileReader.readAsDataURL()
    %span.smaller
      =example_url_tag("fileAPITests")      
  %article
    :coderay
      #!javascript     
      var reader = var reader = new FileReader();
          reader.onload = function() {
            var text = '<img src="'+reader.result+'"/>';
            $("#fileDataURLOutput").html(text);
          }
          reader.readAsDataURL(this.files[0]);         
 
%section.slide
  %header What works on mobile ?
  %article
    =image_tag('lesson4/file-api-browsers.png', :resize=>true)
    .autobox.smaller
      %ul
        %li
          HTML5 Specs: 
          %a(href="http://dev.w3.org/2006/webapi/FileAPI") File API
          ,
          %a(href="http://www.w3.org/TR/XMLHttpRequest/") XHR2
          ,
          %a(href="Typed Arrays") Native binary Array
        %li 
          Opera:
          %a(href="http://www.opera.com/docs/specs/presto2.10/file/") Opera Mobile File API
        %li
          Firefox:
          %a(href="https://developer.mozilla.org/en/DOM/XMLHttpRequest/Using_XMLHttpRequest") FireFox XHR2
          ,
          %a(href="https://developer.mozilla.org/en/JavaScript_typed_arrays") FireFox Typed Arrays
          ,
          %a(href="https://developer.mozilla.org/en/DOM/FileReader") FileReader  
        %li
          Html5Rocks Tricks:
          %a(href="http://www.html5rocks.com/en/tutorials/file/xhr2/") XHR2
          ,
          %a(href="http://www.html5rocks.com/en/tutorials/file/dndfiles/") Local files

%section.slide
  %header 
    Good old
    %span.terminal
      multipart/form-data
  %article
    %p Content type for submitting forms that contain binary data
    %p Works with all browsers (except iOS)
    .vmargin
      :coderay
        #!haml    
        %form(id="uploadFormPost" action="/uploadFormData" method="post" data-ajax='false' enctype="multipart/form-data")
          %input(type="file" id="fileChoose0" name="file"  multiple="true" accept="image/*" style="height:0;width:0;") 
          %button(id="uploadFormPostButton") Upload via Form POST 
    .vmargin
      :coderay
        #!javascript
        $("#uploadFormPostButton").click(function(e) { 
          e.preventDefault();
          $("#fileChoose0").click();
        });
        $("#fileChoose0").live('change', function() {
          $("#uploadFormPost").submit();
        });

%section.slide
  %header
    =html5_device_access_tag("HTML Media Capture API")
    %span.smaller
      %a(href="http://www.w3.org/TR/2010/WD-html-media-capture-20100720/") W3C
  %article
    %p Basic API for capturing media from the device (images, video and sound)
    %p 
      More powerful API will come with 
      %span.terminal
        %a(href="http://dev.w3.org/2011/webrtc/editor/getusermedia.html") getUserMedia
    %p Only implemented in Android Browser 3.0 onwards and Firefox for Android 11
    %p 
      Based on the extension of the 
      %span.terminal accept 
      attribute with the 
      %span.terminal capture
      paramenter:
    :coderay
      #!html
        <input type="file" accept="image/*;capture=camera">
    %ul
      %li
        %strong accept
        %span.terminal> : "image/*", "sound/*", "video/*"
      %li
        %strong capture
        %span.terminal> : camera, camcoder, microphone, filesystem     

%section.slide
  %header
    =html5_device_access_tag("The MediaFile Interface")
  %article
    %p 
      If the media capture succeds the 
      %span.terminal 
        files
      attribute contains 
      %span.terminal MediaFile
      objects instead of 
      %span.terminal File
      objects
    %p 
      %span.terminal MediaFile
      objects inherit from 
      %span.terminal File
      and have the additional attribute
      %span.terminal FormData
    %p
      %span.terminal
        FormData
      contains the attributes:
      %ul
        %li codecs
        %li bitrate
        %li height
        %li width
        %li duration 
        
.background(data-background = "bg-lesson4-compass")
  
%section.slide
  %header 
    =html5_device_access_tag("Device Orientation API")
    %span.smaller
      %a(href="http://www.w3.org/TR/orientation-event/") W3C

    
  %article
    %p API to access the information of accelererometers, gyroscopes and compasses of mobile devices
    .autobox
      .row
        .twoColumn
          .autobox
            %strong DeviceOrientation Event (degrees)
            %ul
              %li alpha: around the Z-axis
              %li beta: around the X-axis
              %li gamma: around the Y-axis
            %strong MotionOrientation Event (m/s2)
            %ul
              %li acceleration
              %li accelerationIncludingGravity
        .twoColumn
          =image_tag("/lesson4/orientation.png", :resize => true)

%section.slide
  %header 
    =html5_device_access_tag("Device Orientation API")
  %article
    .row
      .threeColumn
        .autobox.centered
          Heading (Yaw)
          %p [0, 360)
          =image_tag("/lesson4/orientation-alpha.png", :resize => true)
      .threeColumn
        .autobox.centered
          Elevation (Pitch)
          %p [-180, 180)
          =image_tag("/lesson4/orientation-beta.png", :resize => true)
      .threeColumn
        .autobox.centered
          Bank (Roll)
          %p [-90, 90)
          =image_tag("/lesson4/orientation-gamma.png", :resize => true)
%section.slide
  %header
    Orientation Events 
    %span.smaller
      =example_url_tag("deviceOrientation")      
  %article
    :coderay
      #!javascript
          $(function() {
          if (window.DeviceOrientationEvent) {  
            window.addEventListener("deviceorientation", function( event ) {  
              }
              //alpha: rotation around z-axis  
              $(".alpha").html(event.alpha);
  
              //gamma: left to right  
              $(".beta").html(event.beta);
  
              //beta: front back motion  
              $(".gamma").html(event.gamma);
              
              var rotation = "rotateX("+(event.beta*-1)+"deg)"
              rotation += " rotateY("+(event.gamma)+"deg)" 
              rotation += "rotateZ("+(event.alpha*-1)+"deg)";
  
              $(".transform").html(rotation);
              $("#imgLogo").css('-moz-transform',rotation);
            }, false);  
          }  
        }

%section.slide
  %header 
    =html5_device_access_tag("Geolocation API")
    %span.smaller
      %a(href="http://dev.w3.org/geo/api/spec-source.html") W3C
  %article
    %ul
      %li 
        API for locating the user exact position that contains three methods: 
        %ul
          %li 
            %strong.terminal<> getCurrentPosition
            \: asynchronous request for current location of the user. The handler is invoked with a 
            %span.terminal< Position
            object
          %li 
            %strong.terminal<> watchPosition
            \: polling at regular intervals and if the location has changed invoke the handler with a
            %span.terminal< Position
            object
          %li 
            %strong.terminal<> clearWatch
            \: cancel the watching request 
        
      %li
        Browser displays a dialogue to request for user's permission
      
      %li
        Positioning happens in two ways:
        %ul
          %li IP, cell id, WiFi access point + some black magic from a geocoding provider (less accurate, fast, works indoor)
          %li GPS for enabled devices (accurate, slower, works outdoor)

%section.slide
  %header 
    =html5_device_access_tag("Geolocation API")
    %span.smaller
      %a(href="http://dev.w3.org/geo/api/spec-source.html") W3C
  %article
    :coderay
      #!javascript
      //Get location ASAP, regardless of accuracy
      navigator.geolocation.getCurrentPosition(function(position) {  
        do_something(position.coords.latitude, position.coords.longitude);  
      });
      
      //Watch for location changes, request high accuracy
      var wpid = navigator.geolocation.watchPosition(
        function(position) { do_something(position.coords.latitude, position.coords.longitude); }, 
        function(error) { show_error(error.code, error.message); },
        {enableHighAccuracy:true, maximumAge:30000, timeout:27000}
      );
    .autobox.smaller
      .row
        .threeColumn
          .autobox
            %strong
              Position 
            %ul
              %li 
                coords
              %li
                timestamp
        .threeColumn
          .autobox
            %strong
              Coordinates
            %ul
              %li
                latitude (decimal degrees)
              %li
                longitude (decimal degrees)
              %li
                accuracy (radius in m.)
              %li
                altitude (in m.)
              %li
                altitudeAccuracy (in m.)
              %li
                heading (degrees)
              %li 
                speed (in m/s)
        .threeColumn
          .autobox
            %strong
              Error
            %ul
              %li 
                %span.terminal code
                %ul
                  %li UNKNOWN_ERROR (0)
                  %li PERMISSION_DENIED (1)
                  %li POSITION_UNAVAILABLE (2)
                  %li TIMEOUT (3)
              %li
                %span.terminal message
                
%section.slide
  %header 
    Maps and Location
    %span.smaller
      =example_url_tag("deviceGeolocation")      
  %article.small
    :coderay
      #!javascript
      var myLatLng;
      var map;
      var marker;
      
      $(function() {
        //Get position fast and initialized google map
        navigator.geolocation.getCurrentPosition(function(geodata) {
          myLatLng = new google.maps.LatLng(geodata.coords.latitude, geodata.coords.longitude);
          
          var myOptions = { center: myLatLng, zoom: 8, mapTypeId: google.maps.MapTypeId.ROADMAP };
          map = new google.maps.Map(document.getElementById("map"), myOptions);
          marker = new google.maps.Marker( { position: myLatLng, map: map, title:"My position" });
        });
        //Update the position at least every 5 seconds and use GPS if available
        navigator.geolocation.watchPosition(function(geodata) {
          $(".latitude").html(geodata.coords.latitude);
          $(".longitude").html(geodata.coords.longitude);
          $(".accuracy").html(geodata.coords.accuracy);
          $(".altitude").html(geodata.coords.altitude);
          $(".heading").html(geodata.coords.heading);
          $(".speed").html(geodata.coords.speed);
          
          myLatLng = new google.maps.LatLng(geodata.coords.latitude, geodata.coords.longitude);
          marker.setPosition(myLatLng);
          map.setCenter(myLatLng);
        },function() {},{enableHighAccuracy:true, maximumAge:30000, timeout:5000} );  
      })

.background(data-background = "bg-lesson4-music")

%section.slide
  %header 
    =html5_device_access_tag("Audio & Video")
  %article
    %ul
      %li Open standard for delivery of multimedia without plugins
      %li HTML native video and audio elements
      %li No support for DRM
      %li No access to webcam or microphone
      %li Mix with HTML, JS and CSS
      
%section.slide
  %header
    =html5_device_access_tag("Video Formats")
  %article
    %ul
      %li
        %strong.red .mp4 = H.264 + AAC
        %ul
          %li Not an open codec
          %li Not royalty free
          %li Only codec supported on iOS
          %li Not supported by Firefox and Opera
      %li
        %strong.red .ogg / .ogv = Theora + Vorbis
        %ul
          %li Supported by Firefox, Chrome and Opera
      %li
        %strong.red .webm = VP8 + Vorbis
        %ul
          %li High-quality, royalty free and open video format  
          %li Supported in Firefox, Chrome, Opera and Andorid

%section.slide
  %header
    =html5_device_access_tag("Video")
    %span.smaller
      =example_url_tag("videoTest")      
  %article
    :coderay
      #!haml
      %video(controls)
        %source(src="gaga.webm" type='video/webm; codecs="vp8, vorbis"')
        %source(src="gaga.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
        Video tag not supported. Download the video
        %a(href="gaga.webm") here

%section.slide
  %header
    =html5_device_access_tag("Audio and Video Element Attributes")
  %article
    %ul
      %li autoplay: automatically start playing the audio/video
      %li controls: show the controls (implementation varies among browsers)
      %li poster: image to show while the video is downloading
      %li muted: mute the audio by default
      %li height, width
      %li loop: repeat playing the audio/video
      %li preload: start buffering the video
        

    
