=title_slide_tag("Lecture 3: CSS3")


%section.slide.section-title
  %h1 Lecture 4: CSS3
  .agenda
    %p Media Queries
    %p Overflow: scroll
    %p Position: fixed
    %p Orientation changes
    %p Selectors
    %p Borders and Box Effects
    %p Color and Opacity
    %p Gradients
    %p 2D Transitions
    %p Transitions and Aninamtions
    %p 3D Transformations
    %p Flexible Box Layout
    %p Touch events
    http://www.html5rocks.com/en/mobile/touch/

%section.slide
  %header
    =html5_styling_tag("Media Queries")      
  %article
    %p Query syntax for serving the most appropiate styles based on the device characteristics
    %p 
      Enables us:
      %ul 
        %li to create device-indipendent websites
        %li to optimize the visitor's experience
    %p 
      %a(href="http://www.alistapart.com/articles/responsive-web-design/") Responsive Web Design
        
%section.slide
  %header Scrolling
  %article
    Explain: 
    overflow: scroll
    \-webkit-overflow-scrolling: touch;
    position: fixed
    
    Now available on iOS 5
    http://johanbrook.com/browsers/native-momentum-scrolling-ios-5/
    
    One demo: http://frontendstuff.com/css/examples/overflow-scroll.html
    
    For other platforms no support but plenty of plugins, like sencha and jqtouch
    
    Fastclick
    http://assanka.net/content/tech/2011/08/26/fastclick-native-like-tapping-for-touch-apps/
%section.slide
  %header 
    Handling Orientation Changes
  %article