=title_slide_tag("Lecture 4: Canvas")

%section.slide.section-title
  %h1 Lecture 4: Canvas
  .agenda
    %p Canvas

%section.slide
  %header
    Traditional Sequence in a Web Request 
  %article

In both cases, they process images that are rendered in the canvas


Pixastic with image transformation and jquery support
http://www.pixastic.com/lib/docs/

Port of processing language

http://ejohn.org/blog/processingjs/

