=title_slide_tag("Lecture 3: CSS3")

%section.slide.section-title
  %h1 Lesson 3: 

%section.slide
  %header Scrolling
  %article
    Explain: 
    overflow: scroll
    \-webkit-overflow-scrolling: touch;
    position: fixed
    
    Now available on iOS 5
    http://johanbrook.com/browsers/native-momentum-scrolling-ios-5/
    
    One demo: http://frontendstuff.com/css/examples/overflow-scroll.html
    
    For other platforms no support but plenty of plugins, like sencha and jqtouch
    
%section.slide
  %header 
    Handling Orientation Changes
  %article