!!!
/[if lt IE 7] <html class="no-js ie6" lang="en">
/[if IE 7] <html class="no-js ie7" lang="en">
/[if IE 8] <html class="no-js ie8" lang="en">
/ [if gt IE 8]><!
%html.no-js(lang="en")
  / <![endif]
  %head
    %meta(charset="utf-8")
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %title
      Mobile Web Applications Develeopment with HTML5
    %meta(content="A course on developing mobile web applications with HTML5" name="description")
    %meta(content="Claudio Riva" name="author")
    %meta(content="width=1024, user-scalable=no" name="viewport")
    / Core and extension CSS files
    %link(href="css/documentation.css" rel="stylesheet")
    %link(href="css/coderay_dark.css" rel="stylesheet")
    //%link(href="css/pygments.css" rel="stylesheet")
    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="http://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

    :javascript      
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29188416-1']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    #main
      #header-wrapper
        #header.basic
          .title
            Mobile Web Applications Development with HTML5
      #menu
        %ul
          %li
            %a(href = "index.html#") Home
          %li 
            %a(href = "index.html#Lectures") Lectures
          %li 
            %a(href = "index.html#Schedule") Schedule
          %li 
            %a(href = "index.html#Examples") Examples
          %li 
            %a(href = "index.html#Assignment") Assignment
          %li
            %a(href = "index.html#Resources") Resources
          %li
            %a(href = "index.html#About") About
  
      #wrapper
        %a(href="https://twitter.com/aaltowebapps" class="twitter-follow-button"  data-size="large" data-show-count="false" data-show-screen-name="false") Follow @aaltowebapps

        .content-wrapper
          =yield
    #footer
      .sponsor
        =image_tag "aaltouni.png", :url => "http://www.aalto.fi/", :nowrap => true
        =image_tag "aaltovg.png", :url => "http://aaltovg.com", :nowrap => true
        =image_tag "aaltoes.png", :url => "http://aaltoes.com/", :nowrap => true
        =image_tag "androidaalto.png", :url => "http://www.androidaalto.org", :nowrap => true
        =image_tag "WindowsPhoneAalto.png", :url => "http://windowsphoneaalto.org/", :nowrap => true
      .sponsor
        =image_tag "nokia.png", :url => "http://www.nokia.com/", :nowrap => true
        =image_tag "kisko_labs.png", :url => "http://www.kiskolabs.com", :nowrap => true
        =image_tag "SC5.jpg", :url => "http://www.sc5.fi", :nowrap => true
        
          