=example_header_tag "Position Fixed", "cssPositionFixed"

%p
  In this example we demonstrate how to use the CSS property position fixed that allows us to lock 
  elements to a particular positions (e.g. headers and footers).
  
%p
  The CSS code is listed below: 
.code_block
  .code_header
    index.html.haml  
  :coderay_raw
    #!css
    #fixed {
      top: 0;
      left: 0;
      width: 100%;
      position: fixed;
      background-color: yellow;
      text-align: center;
    }
   