%a(name="Examples") 

%h1 Examples
%p 
  The instructions how to use the examples are located 
  %a(href="https://github.com/aaltowebapps/MobileWebAppsExamples") here
  \.
  
%h2 UI Frameworks Basic Examples
%ul
  %li=example_url_tag('jQuerySimple')
  %li=example_url_tag('senchaSimple')

%h2 Simple Blog App with jQuery Mobile, Storage and Offline API  
%ul
  %li=example_url_tag('htmlFormBlog')
  %li=example_url_tag('htmljQueryBlog')
  %li=example_url_tag('htmljQueryValBlog')
  %li=example_url_tag('htmljQueryValEditBlog')
  %li=example_url_tag('htmljQueryMultiBlog')
  %li=example_url_tag('htmljQueryStorageBlog')
  %li=example_url_tag('htmljQueryOfflineBlog')
  %li=example_url_tag('htmljQueryOfflineManifestoBlog')
  %li=example_url_tag('htmljQueryOfflineDetectBlog')

%h2 Templating using Handlebar.js
%ul
  %li=example_url_tag('templateHandlebarBlog')

%h2 MVC using Backbone.js
%ul
  %li=example_url_tag('mvcBackboneBlog')
  %li=example_url_tag('mvcBackboneLocalBlog')

%h2 Drawing on the 2D canvas
%ul
  %li=example_url_tag('canvasSmile')
  %li=example_url_tag('canvasInstagram')

%h2 File API
%ul
  %li=example_url_tag('fileApiTests')

%h2 Device Orientation API
%ul
  %li=example_url_tag('deviceOrientation')

%h2 Geolocation API
%ul  
  %li=example_url_tag('deviceGeolocation')

%h2 Audio & Video API
%ul
  %li=example_url_tag('videoTest')

%h2 CSS Media Queries
%ul
  %li=example_url_tag('cssMediaQueriesViewport')
  %li=example_url_tag('cssMediaQueriesDevice')
  %li=example_url_tag('cssMediaQueriesOrientation')

%h2 Position fixed
%ul
  %li=example_url_tag('cssPositionFixed')

%h2 Overflow Scroll
%ul
  %li=example_url_tag('cssOverflowScroll')

%h2 Touch Events
%ul
  %li=example_url_tag('canvasTouch')
  %li=example_url_tag('touchEvents')
  %li=example_url_tag('touchDrag')

%h2 CSS Selectors
%ul 
  %li=example_url_tag('cssSelectors')

%h2 WebSockets
%ul 
  %li=example_url_tag('websocketsEcho')
  %li=example_url_tag('websocketsEchoEM')
  %li=example_url_tag('websocketsChatEM')
  %li=example_url_tag('websocketsDrawEM')
  %li=example_url_tag('websocketsDriveEM')
  %li=example_url_tag('websocketsChatPusher')
  %li=example_url_tag('websocketsChatSSE')
