%a(name="Examples") 

%h1 Examples
%p 
  The instructions how to use the examples are located 
  %a(href="https://github.com/aaltowebapps/MobileWebAppsExamples") here
  \.
  
%h2 Lecture 1: Introduction
%ul
  %li=example_url_tag('jQuerySimple')
  %li=example_url_tag('senchaSimple')