%a(name="Lectures") 
%h1 Lectures
%p Here you find the schedule of the lectures and labs. The links to the material of the course will be available on this page.


.lecture_block
  .header
    Monday 12th March 2012
  .lecture
    =lecture_tag("Lecture 1: Introduction", "14:15-15:45", "", "lecture1_2012_1.html")
    .video
      %iframe(src="http://player.vimeo.com/video/38676177?title=0&amp;byline=0&amp;portrait=0" width="400" height="250" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen)
    .description
      %p 
        This lecture gives an introduction to the mobile application ecosystem and looks at the pros and cons
        of using Web technologies for building mobile applications, especially focusing on HTML5. 
      %p
        We also introduce 
        some basic elements of web development that will be necessary throughout the course (i.e. Sinatra, 
        Javascript, Ruby, etc).
        
      =docs_tag("lecture1.pdf")
      
      Examples:
      %ul
        %li=example_url_tag('jQuerySimple')
        %li=example_url_tag('senchaSimple')
        
  .lecture
    =lecture_tag("Lab 1: Assignment Kick-off", "16:00-17:45", "", "lab1_2012_1.html")
    .description
      %p 
        We'll introduce the course assignment: goals, expectations, evaluation method, schedule and way of working. 
        We'll also form the teams and check your development environment.
      
      =docs_tag("lab1.pdf", "webapps_development_tools.pdf", "Group work instructions.pptx")
    .right
    
.lecture_block
  .header
    Monday 19th March 2012
  .lecture
    =lecture_tag("Lecture 2: Building a Mobile Web App", "14:15-15:45", "", "lecture2_2012_1.html",)
    .video
      %iframe(src="http://player.vimeo.com/video/38901435?title=0&amp;byline=0&amp;portrait=0" width="400" height="250" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen)

    .description
      %p 
        This lecture introduces the basics for creating a mobile web application with HTML5 and jQuery. 
        We create a simple blog application that demonstrates the following elements: 
        %ul
          %li viewport meta tag
          %li Forms, new HTML5 form semantics and validation 
          %li Styling
          %li Contenteditable attribute
          %li Single page and multipage with jQuery Mobile
          %li Sinatra server with templates
          %li Local storage
          %li Offline usage
          %li Detecting connectivity changes

      =docs_tag("lecture2.pdf")
      
      Examples:
      %ul
        %li=example_url_tag('htmlFormBlog')
        %li=example_url_tag('htmljQueryBlog')
        %li=example_url_tag('htmljQueryValBlog')
        %li=example_url_tag('htmljQueryValEditBlog')
        %li=example_url_tag('htmljQueryMultiBlog')
        %li=example_url_tag('htmljQueryStorageBlog')
        %li=example_url_tag('htmljQueryOfflineBlog')
        %li=example_url_tag('htmljQueryOfflineManifestoBlog')
        %li=example_url_tag('htmljQueryOfflineDetectBlog')

  .lecture
    =lecture_tag("Lab 2: jQuery Mobile", "16:00-17:45", "Guest Lecture: Mikael Blomberg, SC5")
    .description
      %p This lab is focused on learning jQuery and jQuery Mobile through examples and hands-on exercises.

      =docs_tag("jQuery Mobile - Mikael Blomberg.pdf")
      
      Examples: 
      %a(href="https://github.com/aaltowebapps/MobileWebAppsExamples/tree/master/lab2JQueryMobile") jQuery Examples
      
      
.lecture_block
  .header
    Monday 26th March 2012
  .lecture
    =lecture_tag("Lecture 3: Templating and MVC", "14:15-15:45")
    .description
      %p
        In this lecture we'll explore the advantages of using a templating method for creating the views 
        of the application. We also explore the benefits of Backbone.js for simplifying the design of the 
        web client. We cover the following topics:
        %ul
          %li Introduction to client-side templating
          %li Example with Handlerbar.js
          %li MVC architecture for webapps
          %li Introduction to Backbone.js
          %li Example of MVC web app
  .lecture
    =lecture_tag("Lab 3: Backbone.js", "16:00-17:45", "Guest Lecture: Mikael Blomberg, SC5")
    .description
      %p This lab will be focused on mastering the details of Backbone.js through several examples. 

.lecture_block
  .header
    Monday 2nd April 2012
  .lecture
    =lecture_tag("Lecture 4: File & Device Access", "14:15-15:45")
    .description
      %p 
        In this lecture we explore the APIs for accessing the file system and the hardware resources of mobile devices.
        We cover the following topics: 
        %ul
          %li Bytes and Blobs
          %li File API
          %li HTML Media Capture API
          %li Motion Sensor API
          %li GeoLocation
          %li Audio & Video
  .lecture
    =lecture_tag("Lab 4: Device Access", "16:00-17:45", "")
    .description
      %p Hands-on exercises on device access API
      
.lecture_block
  .header
    Monday 16th April 2012
  .lecture
    =lecture_tag("Lecture 5: CSS3 & Canvas", "14:15-15:45")
    .description
      %p 
        In this lecture we'll look at the new elements of CSS3 (like media queries, transitions, animations), 
        how to handle touch events and the Canvas API.
  .lecture
    =lecture_tag("Lab 5: Ruby on Rails 3", "16:00-17:45", "Guest Lecture: Lauri Jutila and Matias Korhonen, Kisko Labs")
    .description
      %p This lecture will introduce the basics of Ruby on Rails 3.
.lecture_block
  .header
    Monday 23rd April 2012
  .lecture
    =lecture_tag("Lecture 6: Websockets & Webworkers", "14:15-15:45")
    .description
      %p 
        In this lecture we focus on the real-time communication API that is now supported in HTML5: 
        %ul
          %li Push Technology
          %li Web Sockets
          %li Server-Sent Events 
          %li Web Workers
  .lecture
    =lecture_tag("Lab 6: Designing REST interfaces", "16:00-17:45", "Guest Lecture: Lauri Jutila and Matias Korhonen, Kisko Labs")
    .description
      %p This lecture will dive into the principles of REST design and how to create RESTful interfaces with Ruby on Rails

.lecture_block
  .header
    Monday 7th May 2012
  .lecture
    =lecture_tag("Lecture 7: Developing native web apps with HTML5", "14:15-15:45", "Guest Lecture: Antti Vuorela, Futurice")
    .description
      %p 
        In this lecture we introduce the technologies for creating native applications by embedding an HTML5 web view. 
        In particular we'll focus on PhoneGap. 
  .lecture
    =lecture_tag("Lab 7: PhoneGap", "16:00-17:45",  "Guest Lecture: Antti Vuorela, Futurice")
    .description
      %p Hands-on exercises on PhoneGap