
%h1 
  Lecture 1 - Introduction

%h2 Web is dead
%p Article was written by editor in chief Chris Anderson and said that WWW is in declide as simpler, sleeker services -the apps- are less about searching and more about getting.
A study shows that people spend more time with apps rather than on the web.

%a(href ="http://www.observer.com/2010/media/wireds-web-dead-cover-if-youre-reading-ipad-you-already-know")

Web is not dying but the web document is loosing importance against interactive web apps
%a(href="http://gigaom.com/2011/12/29/the-app-internet-in-2012-defining-the-death-of-the-web/")
Reply from o'reilly
%a(href ="http://www.wired.com/magazine/2010/08/ff_webrip_debate/all/1")  

%h2
  Mobile Apps Platform Fragmentation

%p
  There have been 16 total mobile platforms[1], 10 of which are still (or soon will be) on the market. Of the six that were terminated, three had replacements built by the same orchestrating company (Windows Mobile begat Windows Phone; Maemo begat MeeGo, and PalmOS eventually led to WebOS.) Only three reached end of life with no known descendant (iMode, MeeGo[2] and Symbian).

%p
  Operating systems that were launched in the 1990s or early 2000s have mostly been withdrawn/replaced with the exception of Java and BREW.  ”Modern” operating systems all emerged after 2007 (following iOS). A total of eight such new OSs were introduced in four years[3].

