%a(name="Resources") 
%h1 Resources

%h2 Books

%p 
  Zachary Kessin, 
  %a(href="http://www.amazon.com/Programming-HTML5-Applications-Cross-Platform-Environments/dp/1449399088") Programming HTML5 Applications: Building Powerful Cross-Platform Environments in Javascript
  , O'Reilly Media, 2011

%p
  Bruce Lawson and Remy Sharp, 
  %a(href="http://www.amazon.com/Introducing-HTML5-2nd-Bruce-Lawson/dp/0321784421/") Introducing HTML5 (2nd Edition)
  , New Riders Press, 2011
%p
  Peter Gasston, 
  %a(href="http://www.amazon.com/Book-CSS3-Developers-Future-Design/dp/1593272863/ref=sr_1_1?s=books&ie=UTF8&qid=1326745612&sr=1-1")The Book of CSS3: A Developer's Guide to the Future of Web Design
  , No Starch Press, 2011 (Amazon link)

%p
  Obie Fernandez, 
  %a(href="http://www.amazon.com/Rails-Way-Addison-Wesley-Professional-Ruby/dp/0321601661/ref=sr_1_1?s=books&ie=UTF8&qid=1326745634&sr=1-1")The Rails 3 Way (2nd Edition)
  , Addison-Wesley Professional Ruby Series, 2010

%p
  Damon Oehlman, 
  %a(href="http://www.amazon.com/Pro-Android-Web-Apps-Professionals/dp/1430232765")Pro Android Web Apps: Develop for Android using HTML5, CSS3 & JavaScript
  , Apress, 2011



%h2 Version Control
%p 
  %a(href = "http://gitref.org/") Git Reference
%p
  %a(href = "http://github.com/") GitHub

%h2 HTML5
%p 
  %a(href="http://www.html5rocks.com") www.html5rocks.com
%p 
  %a(href="http://www.htmlfivewow.com") www.htmlfivewow.com
%p 
  %a(href="http://chromestatus.com") chromestatus.com
%p
  %a(href="http://caniuse.com") caniuse.com

%h2 Frameworks
%p
  %a(href="http://jquerymobile.com") jQueryMobile
%p
  %a(href="http://sencha.com") Sencha
%p
  %a(href="http://phonegap.com") PhoneGap

%h2 Ruby and Ruby on Rails
%a(href="http://ruby.on-page.net/") Ruby on one page
%a(href="http://rubyonrails.org") Ruby on Rails