%a(name="Lectures") 
%h1 Lectures

.lecture
  =lecture_title_tag("Lecture 1: Introduction", "lesson1")
  %p 
    This lecture gives an introduction of mobile web application development and the frameworks that we'll cover during this course. 
    We also introduce some basic elements of web development that will be necessary throughout the course (i.e. Sinatra, Javascript, Ruby, etc)
    introduces the basics of web development that will be necessary through the course. The following topics will be covered: 
  %p The lecture also gives an overview of the structure of the course, the prerequisites, the expectations and the evaluation method.
  
.lecture
  =lecture_title_tag("Lecture 2: HTML5 Forms", "lesson2")    
  %p 
    This lecture gives an overview of the new HTML5 elements for creating forms and how to create a web application with 
    jQuery Mobile. We create our first mobile web application (a simple Blog) and implement a simple server with Sinatra.

.lecture
  =lecture_title_tag("Lecture 3: CSS", "lesson3")

.leture
  =lecture_title_tag("Lecture 4: WebSockets", "lesson4")
  
%a(name="Schedule") 
%h1 Schedule

%a(name="Examples") 
%h1 Examples
.larger
  =render_examples_list

