%h1 
  Description of the course

%p 
  With the introduction of HTML5 the web is increasingly becoming the preferred platform 
  for developing mobile applications. Now supporting multimedia content, APIs for accessing 
  the native device resources (like phonebook, camera, sensors) and several new data communication 
  methods, HTML5 is the potential candidate for building cross-platform mobile applications that 
  can run on phones, tablets and smartphones similarly to native applications.
%p 
  In this course you will learn how to build mobile web applications with HTML5. We will cover the 
  new concepts that HTML5 is introducing, the most popular frameworks for facilitating the development
  (e.g. jQuery Mobile, Sencha and jQTouch) and the key techniques and technologies for building web backends
  (e.g Ruby on Rails, Backbone.js, Mustache, Handlebar.js). The focus is on the overall end-to-end 
  architecture how to build web apps. At the end of the course, you will master the basic knowledge for 
  building and deploying a mobile web application.
  
%p The course includes theory lectures, seminars, lab exercises and one group assignment.

%h2 Prerequisites
%p 
  The students are expected to have prior programming experience in any object-oriented language and 
  familiarity with HTML, CSS and JavaScript. Experience with MVC frameworks (like Ruby on Rails and Django) and 
  familiarity with the Ruby programming languages are a plus.

%h2 Expectations
%p 
  Students are expected to attend the lectures and submit the course assignments. 

%h2 Grades
%p The final grade is based on the performance on the course’s exercises. Exercises are evaluated based on their design, functionality, correctness and style.

%a(name="Lectures") 
%h1 Lectures

.lecture
  %h2
    Lecture 1: Introduction (14:00-16:00 12 March 2012)
  %p This lecture introduces the basics of web development that will be necessary through the course. 
  %h2
    Lab 1: Assignment Kick-off (16:00-18:00 12 March 2012)
  %p Kick-off day for the assignment. Presentation of the goals of the assignment and group forming exercise.
  
%a(name="Schedule") 
%h1 Schedule
%p 
  All the lectures are hold every Monday between 14:00-18:00 from 12th March 2012 till 7th May 2012 excluding 9th April and 30th April. 
  The venue is the Backstage auditorium at the  
  %a(href="http://maps.google.com/maps?hl=en&ll=60.180658,24.832621&spn=0.001531,0.004023&vpsrc=6&t=h&z=18")
    Aalto Venture Garage
  (Address: Betonimiehenkuja 3, Otaniemi, Espoo. The Garage is located behind the Design Factory in a big industry hall. The entrance is a big door at the end of the parking lot.)
  
%a(name="Examples") 
%h1 Examples

%a(name="Assignment") 
%h1 Assignment

%p
  During the course the students are required to complete an assignment under the supervision of the instructors. 
  The assignment aims at involving the students in a real world and hands-on experience on what it’s like to create
  a new web application for a new or existing product, for a new company or a new startup or just for turning an 
  idea into reality. To make it as real as possible to the real world, the assignment will be conducted in 
  cooperation with the Aalto Venture Garage. The assignment is team based and will be conducted with the following schedule: 
%ul 
  %li 
    %strong Kick-off (12 March 2012)
    \: after a brief introduction on the goals and expectations of the assignment, 
    we will run a group forming exercise where the participants will have a possibility 
    to discuss new or ongoing activities related to mobile web apps. The expectation is that 
    at the end of the exercise, the teams will have identified some interesting topics for 
    assignments.
  %li
    %strong Proposal submission (19 March 2012)
    \: one week after the kick-off the teams must submit a proposal for the assignment. 
    The proposal must state very clearly what mobile application they indend to build, 
    what technologies will be used and what will be the contribution of the each individual 
    (mixing with people outside of the course is possible but each individual contribution 
    must be stated upfront). The proposals will be reviewed by the review board. 
  %li
    %strong Mid-term review (23 April 2012)
    \: the teams will be requested to make a mid-term review of their work in order to 
    collect feedback on the development of their assignment.
  %li
    %strong Final review (15 and 22 May 2012)
    \: each team will present the outcome of their assignments
%p
  The assignment will be evaluated by the course’s board (consisting of least 5 memebers) based
  on the quality of the final outcome and weekly progress. Grading will based on team results 
  and on the individual participation and contribution. 

%p
  All teams are requested to create a git repository at 
  %a(href="http://github.com") GitHub
  where to submit the web application and related documenation. It’s important that each team setups 
  a blog/journal where the progress can be monitored (e.g. on the GitHub repository page or through the issue management tool). 


%a(name="Resources") 
%h1 Resources

%h2 Books

%p 
  Zachary Kessin, 
  %a(href="http://www.amazon.com/Programming-HTML5-Applications-Cross-Platform-Environments/dp/1449399088") Programming HTML5 Applications: Building Powerful Cross-Platform Environments in Javascript
  , O'Reilly Media, 2011

%p
  Bruce Lawson and Remy Sharp, 
  %a(href="http://www.amazon.com/Introducing-HTML5-2nd-Bruce-Lawson/dp/0321784421/") Introducing HTML5 (2nd Edition)
  , New Riders Press, 2011
%p
  Peter Gasston, 
  %a(href="http://www.amazon.com/Book-CSS3-Developers-Future-Design/dp/1593272863/ref=sr_1_1?s=books&ie=UTF8&qid=1326745612&sr=1-1")The Book of CSS3: A Developer's Guide to the Future of Web Design
  , No Starch Press, 2011 (Amazon link)

%p
  Obie Fernandez, 
  %a(href="http://www.amazon.com/Rails-Way-Addison-Wesley-Professional-Ruby/dp/0321601661/ref=sr_1_1?s=books&ie=UTF8&qid=1326745634&sr=1-1")The Rails 3 Way (2nd Edition)
  , Addison-Wesley Professional Ruby Series, 2010

%p
  Damon Oehlman, 
  %a(href="http://www.amazon.com/Pro-Android-Web-Apps-Professionals/dp/1430232765")Pro Android Web Apps: Develop for Android using HTML5, CSS3 & JavaScript
  , Apress, 2011



%h2 Version Control
%p 
  %a(href = "http://gitref.org/") Git Reference
%p
  %a(href = "http://github.com/") GitHub

%h2 HTML5
%p 
  %a(href="http://www.html5rocks.com") www.html5rocks.com
%p 
  %a(href="http://www.htmlfivewow.com") www.htmlfivewow.com
%p 
  %a(href="http://chromestatus.com") chromestatus.com
%p
  %a(href="http://caniuse.com") caniuse.com

%h2 Frameworks
%p
  %a(href="http://jquerymobile.com") jQueryMobile
%p
  %a(href="http://sencha.com") Sencha
%p
  %a(href="http://phonegap.com") PhoneGap

%h2 Ruby and Ruby on Rails
%a(href="http://ruby.on-page.net/") Ruby on one page
%a(href="http://rubyonrails.org") Ruby on Rails

%a(name="About") 
%h1 About
%p 
  The present site contains the material (slides, exercises and assignments) for the web applications develeopment 
  course that will be given at the Aalto University during the Spring 2012.
  
  Below there is the list of the sponsors that are involved with the creation of the course.
  