%p 
  This site contains all the material (slides, examples, videos and projects) for the Aalto HTML5 Web App course that takes places during the Spring 2012.
  The material of the previous edition of the course (Spring 2012) is available 
  %a(href="course_2012_1.html") here
  \.

%h1 
  Description of the course
%p 
  HTML5 introduces many new features, technologies and APIs that enable web developers to create apps and websites that
  are fast, responsive, stunningly beautiful and resemble the experience of desktop applications. Now supporting multimedia 
  content (audio, video and graphics), data communication methods (like websockets), offline usage, local storage, access 
  to local resources (like camera), the Web is becoming a popular platform for building mobile web applications that can 
  run on phones, tablets, smartphones and behave like native applications.
%p 
  In this course you will learn how to build mobile web applications with the latest HTML5 technologies:
  %ul
    %li HTML5 (local storage, offline usage, file & device APIs, motion sensors, geolocation, websockets, 2D canvas, etc)
    %li UI frameworks and templating (e.g. jQuery Mobile, backbone.js)
    %li Server side technologies for complementing the webapps (e.g. Sinatra, Haml, event based machines)
    %li Responsive Design, CSS3 and mobile optimization
  
%p The course will include theory lectures, many examples and lab exercices. The entire classroom will also work on solving a real-life challenge that we’ll set at the beginning of the course.  

%h2 Prerequisites
%p 
  The students are expected to have prior programming experience in any object-oriented language and 
  familiarity with HTML, CSS and JavaScript. 

%h2 Expectations
%p 
  Students are expected to attend 80% of the lectures and participate in the course assignments. 

%h2 Grades
%p The final grade is based on the performance on the course’s exercises. Exercises are evaluated based on their design, functionality, correctness and style.

%a(name="Schedule") 
%h1 Schedule
%p 
  All the lectures are hold 
  %strong every Friday 8:15-12:00 
  from 2nd November 2012 till 14th December 2012. 
  The venue is room A114, Open Innovation House,
  %a(href="https://maps.google.com/maps?q=Otaniementie+19,+Espoo,+Finland&hl=en&sll=60.18704,24.816351&sspn=0.006796,0.020685&oq=Otaniementie+19&t=h&hnear=Otaniementie+19,+Espoo,+Finland&z=16")
    Otaniementie 19 Espoo.
%p
  The detailed schedule of the lectures will be published here 
  %a(href="lectures.html") here
  \. 
  
%a(name="Challenge") 
%h1 The Challenge

%p
  During the course the students will be asked to participate in the real-world challenge of developing a mobile
  web application. We will build the web app as a team or, depending on the size of the class, in sub-teams. All 
  participants will be required to play a role in the project and demonstrate they can master the technique 
  we’ll be learning during the lectures. This is the schedule of the challenge: 
  
%ul 
  %li 
    %strong Kick-off (2nd Nov 2012)
    \: introduction on the goals, expectations and way of working. Assignment of roles and creation of subteams.
  %li
    %strong Mid-term review (30th Nov 2012)
    \: mid-term review on the progress of the challenge and individual feedback. 
  %li
    %strong Final review (17th Dec  2012)
    \: final demo of the challenge
%p
  Grading will based on team results and on the individual participation and contribution. 
%p
  All teams are requested to create an account at
  %a(href="http://github.com") GitHub
  where all development will happen.
  %a(name="Staff") 

%h1 Staff
%p
  %strong
    %a(href="http://www.linkedin.com/in/rivaclaudio") Claudio Riva
  , Nokia, Main Instructor
%p
  %strong
    %a(href="http://fi.linkedin.com/in/mikaelblomberg") Mikael Blomberg
  , SC5, jQuery Instructor
%p
  %strong 
    %a(href="http://www.linkedin.com/in/hakanmitts") Häkan Mitts
  , Aalto University, Program Coordinator

%a(name="About") 
%h1 About
%p 
  The present site contains the material (slides, exercises and assignments) for the web applications development 
  course that will be given at the Aalto University during the Fall 2012 (
  %a(href="https://noppa.aalto.fi/noppa/kurssi/t-106.5800") T-106.5800
  ). All communication about the course will happen through this website, the Noppa page and by     
  %a(href="https://twitter.com/aaltowebapps") following us on Twitter 
%p
  All material (slides and examples) are under the 
  %a(href="http://creativecommons.org/licenses/by-nc-sa/3.0/") Creative Commons license
  \. You are free to distribute unedited versions of the material for non-commercial purposes. 
  You are also free to modify this material as long as you distribute the resulting work under the same license. 
%p
  %img(alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png")

%p 
  Below there is the list of the sponsors that are supporting and contributing to this course.


