%h1 
  Description of the course

%p With the introduction of HTML5 the web is increasingly becoming the preferred platform for developing mobile applications. Now supporting multimedia content, APIs for accessing the native device resources (like phonebook, camera, sensors) and several new data communication methods HTML5 is the potential candidate for building cross-platform mobile applications that can run on tablets and smartphones similarly to native applications.
%p This course teaches the students how to build mobile application using HTML5 focusing on both the client and backend aspects. The technologies that will be covered in the course include jQTouch, PhoneGap, JQuery Mobile, Sencha, RubyOnRails, Handlerbar.js.  At the end of the course, the students will master the basic technologies for building and deploying a mobile web application.
%p The course includes theory lectures, seminars, lab exercises and an assignment.

%h2 Prerequisites
%p The students are expected to have prior programming experience in any object-oriented language and familiarity with HTML, CSS and JavaScript. 

%h2 Expectations
%p Students are expected to attend all lectures and submit the course assignments. 

%h2 Grades
%p The final grade is based on the performance on the course’s exercises. Exercises are evaluated based on their design, functionality, correctness and style.

%a(name="Lectures") 
%h1 Lectures

.lecture
  %h2
    Lecture 1: Introduction (
    %a(href = "slides.html") Slides
    )
  %p This lecture introduces the basics of web development that will be necessary through the course. The following topics will be covered: 
  %ul
    %li What is HTML5 and overview of the elements that will be covered in the course
    %li Basic structure of mobile web app and differences between building native apps, web apps and web sites
    %li Introduction to jQuery and jQuery mobile
    %li Introduction to the backend development tools (MVC philosophy, RubyOnRails, Haml, CoffeScript, Sass and other plugins )
    %li Introduction to the client development tools (Android Emulator, Firebug)
    %li Refresh of Javascript techniques that will be useful during the course.
  %p The lecture also gives an overview of the structure of the course, the prerequisites, the expectations and the projects that must be carried out. 

  %a(href = "slides.html") Slides
  
%a(name="Schedule") 
%h1 Schedule

%a(name="Examples") 
%h1 Examples
%a(href="jQuerySimple.html")
  jQuery Simple

%a(name="Assignment") 
%h1 Assignment

%a(name="Resources") 
%h1 Resources


Version Control: 
%a(href = "http://gitref.org/") Git Reference
  