%a(name="Lectures") 
%h1 Lectures

.lecture
  =lecture_title_tag("Lecture 1: Introduction", "lesson1")
  %p 
    This lecture gives an introduction of mobile web application development and the frameworks that we'll cover during this course. 
    We also introduce some basic elements of web development that will be necessary throughout the course (i.e. Sinatra, Javascript, Ruby, etc)
    introduces the basics of web development that will be necessary through the course. The following topics will be covered: 
  %p The lecture also gives an overview of the structure of the course, the prerequisites, the expectations and the evaluation method.
  
.lecture
  =lecture_title_tag("Lecture 2: Building a Mobile Web App", "lesson2")    
  %p 
    This lecture introduces the basics for creating a mobile web application with HTML5 and with jQuery. 
    We create a simple bloc application that demonstrates the following elements: 
    %ul
      %li viewport meta tag
      %li Forms, new HTML5 form semantics and validation 
      %li Styling
      %li Contenteditable attribute
      %li Single page and multipage with jQuery Mobile
      %li Sinatra server with templates
      %li Local storage
      %li Offline usage
      %li Detecting connectivity changes

      
.lecture
  =lecture_title_tag("Lecture 3: Templaing and MVC", "lesson3")
  %p 
    In this lecture we explore the advantages of using a templating methdod for creating the views of the application. 
    We also explore the usage of Backbone.js for simplifying the design of the web client. We cover the following topics:
    %ul
      %li Introduction to client-side templating
      %li Example with Handlerbar.js
      %li MVC architecture for webapps
      %li Introduction to Backbone.js
      %li Example of MVC web app


.lecture
  =lecture_title_tag("Lecture 3: Templaing and MVC", "lesson3")
  %p 
      
.lecture
  =lecture_title_tag("Lecture 3: CSS", "lesson3")

.leture
  =lecture_title_tag("Lecture 4: WebSockets", "lesson4")
  
%a(name="Schedule") 
%h1 Schedule

%a(name="Examples") 
%h1 Examples
.larger
  =render_examples_list

