%a(name="Lectures") 
%h1 Lectures

.lecture
  =lecture_title_tag("Lecture 1: Introduction", "lesson1")
  %p 
    This lecture gives an introduction of mobile web application development and the frameworks that we'll cover during this course. 
    We also introduce some basic elements of web development that will be necessary throughout the course (i.e. Sinatra, Javascript, Ruby, etc)
    introduces the basics of web development that will be necessary through the course. The following topics will be covered: 
  %p The lecture also gives an overview of the structure of the course, the prerequisites, the expectations and the evaluation method.

.lecture
  =lecture_title_tag("Lab 1: Assignment Kick-off", "lab1")
  %p 
  
.lecture
  =lecture_title_tag("Lecture 2: Building a Mobile Web App", "lesson2")    
  %p 
    This lecture introduces the basics for creating a mobile web application with HTML5 and with jQuery. 
    We create a simple bloc application that demonstrates the following elements: 
    %ul
      %li viewport meta tag
      %li Forms, new HTML5 form semantics and validation 
      %li Styling
      %li Contenteditable attribute
      %li Single page and multipage with jQuery Mobile
      %li Sinatra server with templates
      %li Local storage
      %li Offline usage
      %li Detecting connectivity changes

.lecture
  =lecture_title_tag("Lab 2: jQuery Mobile", "lab2")
  %p 

      
.lecture
  =lecture_title_tag("Lecture 3: Templating and MVC", "lesson3")
  %p 
    In this lecture we explore the advantages of using a templating methdod for creating the views of the application. 
    We also explore the usage of Backbone.js for simplifying the design of the web client. We cover the following topics:
    %ul
      %li Introduction to client-side templating
      %li Example with Handlerbar.js
      %li MVC architecture for webapps
      %li Introduction to Backbone.js
      %li Example of MVC web app

.lecture
  =lecture_title_tag("Lab 3: Backbone.js", "lab3")
  %p 


.lecture
  =lecture_title_tag("Lecture 4: File & Device Access", "lesson4")
  %p 
    In this lecture we explore the APIs for accessing the file systema and the hardware resources of mobile devices.
    We cover the following topics: 
    %ul
      %li Bytes and Blobs
      %li File API
      %li HTML Media Capture API
      %li Motion Sensor API
      %li GeoLocation
      %li Audio & Video
        
.lecture
  =lecture_title_tag("Lab 4: Ruby on Rails 3", "lab4")
  %p 
      
.lecture
  =lecture_title_tag("Lecture 5: HTML5 - CSS3", "lesson5")

.lecture
  =lecture_title_tag("Lab 5: Cloud", "lab5")
  %p 
    Storing and Connecting to the Cloud

.leture
  =lecture_title_tag("Lecture 6: WebSockets & WebWorkers", "lesson6")

.lecture
  =lecture_title_tag("Lecture 7: Developing native web apps with HTML5", "lesson7")
  %p 
    In this lecture we introduce the tools for creating native applications with an embeeded webview. 
    We cover the following topics: 
    %ul
      %li PhoneGap
        
.lecture
  =lecture_title_tag("Lab 7: Performance Optimization", "lab7")
  %p
    %ul Sprockets
    %ul Zoneear ? 
    
  
%a(name="Schedule") 
%h1 Schedule

%a(name="Examples") 
%h1 Examples
.larger
  =render_examples_list

