


%section.slide.main-title
  %h1
    =META["title"]
  %img(src="imgs/HTML5_logo.png")
  %br
  %h1.subtitle
    =META["author"]
  %h1.subtitle
    =META["subtitle"]

/%section#toc-slide.slide
/  %header Contents
/  #toc

= render "site/slides/lesson1.html.haml"
= render "site/slides/lesson2.html.haml"
= render "site/slides/lesson3.html.haml"

= render "site/slides/template.html.haml"
