Collection of various talks on HTML5:

%p 
  %b 
    %a(href="http://clody69.github.com/lecture_2013_net_app.html") 
      HTML5 Websockets 
  for the Aalto Network Application Frameworks course on the 12th Feb 2013. 

%p 
  %b 
    %a(href="http://clody69.github.com/talks/2013_Feb_HTML5_Aalto_intro") 
      HTML5 Introduction 
  for two courses at Aalto on the 12th Feb 2013: Network Application Frameworks and WWW Applications.

%p 
  %b 
    %a(href="http://clody69.github.com/talks/2012_Oct_HTML5_Arch_Camp") HTML5 and the webkit rendering engine
  at an architecture camp on the 18th Oct 2012. 

%p
  %b
    %a(href="http://clody69.github.com/talks/2012_June_Webified_Cloud_Aalto") HTML5 and the Mobile Web Revolution
  at the 
  %a(href="http://www.facebook.com/pages/Webified-Cloud-Aalto/372626672798736") Webified Cloud Aalto
  on the 19 June 2012.