Collection of various talks on HTML5:

%p 
  %b 
    %a(href="http://clody69.github.com/talks/2012_Oct_HTML5_Arch_Camp") HTML5 and the webkit rendering engine
  at an architecture camp on the 18th Oct 2012. 

%p
  %b
    %a(href="http://clody69.github.com/talks/2012_June_Webified_Cloud_Aalto") HTML5 and the Mobile Web Revolution
  at the 
  %a(href="http://www.facebook.com/pages/Webified-Cloud-Aalto/372626672798736") Webified Cloud Aalto
  on the 19 June 2012.