%section.slide.main-title
  %h1
    Mobile Web Appplications Development with HTML5
  %img(src="imgs/HTML5_logo.png")
  %br
  %h1.subtitle
    =subtitle 
  %br
  .smaller.centered
    %h3
      Claudio Riva
    %h3
      Aalto University March 2012
